<form
  method={method}
  action={actionn}
  class="flex self-stretch flex-col space-y-10 items-center justify-start px-24 pt-5 pb-2.5 rounded-2xl"
>
  <div class="text-sm font-bold text-center text-indigo-500">{title}</div>
  <div class="flex space-x-5 items-start justify-center p-10 bg-white border rounded-lg border-indigo-200">
    <div class="flex flex-col space-y-5 items-start justify-start">
      <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
        <div class="text-xs font-bold text-indigo-500">Nama</div>
        <input
          type="text"
          class={`border border-indigo-300 py-1.5 px-3 rounded-xl`}
          required
        />
      </div>
      <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
        <div class="text-xs font-bold text-indigo-500">No.Hp</div>
        <input
          type="number"
          class={`border border-indigo-300 py-1.5 px-3 rounded-xl`}
          required
        />
      </div>
      <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
        <div class="text-xs font-bold text-indigo-500">Email</div>
        <input
          type="email"
          class={`border border-indigo-300 py-1.5 px-3 rounded-xl`}
          required
        />
      </div>
    </div>
    <div class="flex flex-col space-y-5 items-start justify-start">
      <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
        <div class="text-xs font-bold text-indigo-500">Divisi Karyawan</div>
        <input
          type="text"
          class={`border border-indigo-300 py-1.5 px-3 rounded-xl`}
          required
        />
      </div>
      <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
        <div class="text-xs font-bold text-indigo-500">Jabatan Karyawan</div>
        <input
          type="text"
          class={`border border-indigo-300 py-1.5 px-3 rounded-xl`}
          required
        />
      </div>
    </div>
  </div>
  <button class="bg-indigo-900 hover:bg-indigo-800 text-white text-sm font-bold py-2 px-4 rounded-lg inline-flex items-center filter drop-shadow-md">
    <span>Tambah Karyawan</span>
  </button>
</form>