<div
        class={`flex flex-col space-y-10 items-center justify-center px-16 py-10 bg-white shadow rounded-2xl`}
      >
        <div class="text-lg font-semibold text-center text-indigo-500">
          Tambah Akun Karyawan
        </div>
        <div class="flex flex-col space-y-8 items-center justify-center p-6 bg-white border rounded-lg border-indigo-200">
          <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
            <div class="text-base font-medium text-indigo-500">Nama</div>
            <input
              type="text"
              class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
            />
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
            <div class="text-base font-medium text-indigo-500">No.Hp</div>
            <input
              type="text"
              class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
            />
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
            <div class="text-base font-medium text-indigo-500">Email</div>
            <input
              type="text"
              class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
            />
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
            <div class="text-base font-medium text-indigo-500">
              Divisi Karyawan
            </div>
            <input
              type="text"
              class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
            />
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
            <div class="text-base font-medium text-indigo-500">
              Jabatan Karyawan
            </div>
            <input
              type="text"
              class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
            />
          </div>
          <button
            class={`flex flex-col items-center justify-center px-6 py-1 bg-indigo-500 rounded-lg rounded-xl hover:bg-indigo-900`}
          >
            <div class="flex self-stretch items-center justify-center">
              <div class="text-lg font-semibold text-center text-white">
                Buat Akun
              </div>
            </div>
          </button>
        </div>
      </div>