<div
  class={`flex self-stretch space-x-2.5 items-center justify-start py-2.5 pl-5 pr-8 bg-white`}
>
  <div class="flex flex-1 items-center justify-start px-5 space-x-8">
    <faicon iconName="toggleNav" class="text-indigo-900" />
    <input
      type="text"
      placeholder="Cari Sesuatu"
      class="border focus:outline-none focus:border-indigo-900 border-gray-200 py-1.5 px-3 rounded text-xs"
      // id="input-divisi"
      // value=""
    />
  </div>
  <div class="flex flex-1 space-x-6 items-center justify-end px-5">
    <div>
      <faicon iconName="notifikasi" class="text-indigo-900" />
    </div>
    <button class="text-xs font-medium text-white py-1 px-3 rounded-xl bg-indigo-900">
      Halo, {window.user.name}
    </button>
  </div>
</div>