<div
  class={`flex self-stretch space-x-2.5 items-center justify-start px-8 py-2.5 bg-indigo-500`}
>
  <div class="flex flex-1 items-center justify-start px-5">
    <img
      src="/fimgs/186_5053.x3.png"
      style="width: 85px; min-width: 85px; max-width: 85px; height: 32px; min-height: 32px; max-height: 32px;background-image: url('/fimgs/bg-9b3bfae3f6d9b076a99172604d0c5a5622ad67df');background-size:100% 100%;background-repeat:no-repeat;"
    />
  </div>
  <div class="flex flex-1 space-x-2.5 items-center justify-end px-5">
    <img
      src="/fimgs/186_5055.x1.svg"
      class="bg-white rounded-full"
      style="width: 28px; min-width: 28px; max-width: 28px; height: 28px; min-height: 28px; max-height: 28px;"
    />
    <div class="text-sm font-medium text-white">Admin</div>
  </div>
</div>