<div class="flex flex-1 self-stretch items-start justify-start rounded-2xl">
  <div class="flex self-stretch flex-col space-y-3 items-start justify-start p-8 bg-white">
    <div class="flex self-stretch flex-col items-start justify-center px-5 py-2.5 bg-gray-100 rounded-lg">
      <div class="text-sm font-bold text-gray-800">Dashboard</div>
    </div>
    <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center rounded-lg">
      <div class="flex self-stretch items-center justify-center px-5 py-2.5 bg-indigo-500 rounded-lg">
        <div class="flex flex-1 self-stretch flex-col items-start justify-center">
          <div class="text-sm font-bold text-white">Karyawan</div>
        </div>
        <img
          src="/fimgs/186_5065.x3.png"
          style="width: 137px; min-width: 137px; max-width: 137px; height: 26px; min-height: 26px; max-height: 26px;"
        />
      </div>
      <div class="flex self-stretch flex-col space-y-4 items-start justify-center py-2.5 pl-5 pr-10">
        <div class="flex self-stretch flex-col items-start justify-center">
          <div class="text-sm font-bold text-indigo-500">Tambah Karyawan</div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-center">
          <div class="text-sm font-semibold text-gray-600">
            Parameter Penggajian
          </div>
        </div>
        <div class="flex self-stretch flex-col items-start justify-center">
          <div class="text-sm font-semibold text-blueGray-600">Jabatan</div>
        </div>
      </div>
    </div>
    <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center rounded-lg">
      <div class="flex self-stretch items-center justify-center px-5 py-2.5 bg-gray-100 rounded-lg">
        <div class="flex flex-1 self-stretch flex-col items-start justify-center">
          <div class="text-sm font-bold text-gray-800">Gaji</div>
        </div>
        <img
          src="/fimgs/186_5078.x3.png"
          style="width: 137px; min-width: 137px; max-width: 137px; height: 26px; min-height: 26px; max-height: 26px;"
        />
      </div>
    </div>
    <div class="flex self-stretch flex-col space-y-2.5 items-start justify-center rounded-lg">
      <div class="flex self-stretch items-center justify-center px-5 py-2.5 bg-gray-100 rounded-lg">
        <div class="flex flex-1 self-stretch flex-col items-start justify-center">
          <div class="text-sm font-bold text-gray-800">Presensi</div>
        </div>
        <img
          src="/fimgs/186_5091.x3.png"
          style="width: 137px; min-width: 137px; max-width: 137px; height: 26px; min-height: 26px; max-height: 26px;"
        />
      </div>
    </div>
    <div class="flex self-stretch flex-col items-start justify-center px-5 py-2.5 bg-gray-100 rounded-lg">
      <div class="text-sm font-bold text-gray-800">Grafik</div>
    </div>
    <div class="flex self-stretch flex-col items-start justify-center px-5 py-2.5 bg-gray-100 rounded-lg">
      <div class="text-sm font-bold text-gray-800">Logout</div>
    </div>
  </div>
</div>