<div class={`flex flex-1 self-stretch items-start justify-start rounded-2xl`}>
  <div
    class={`flex flex-1 self-stretch flex-col space-y-3 items-start justify-start px-8 pb-8 bg-white shadow lg:block md:hidden`}
  >
  <div class="flex space-x-2.5 items-center justify-center px-3 pt-8 pb-5">
      <img
        src="/fimgs/849_13529.x3.png"
        class="flex self-stretch flex-col items-start justify-start"
        style="width: 30px; min-width: 30px; max-width: 30px; height: 28.40px; min-height: 28.40px; max-height: 28.40px;"
      />
      <img
        src="/fimgs/849_13530.x1.svg"
        class="flex flex-col items-start justify-start"
        style="width: 72px; min-width: 72px; max-width: 72px; height: 27px; min-height: 27px; max-height: 27px;"
      />
    </div>
    <button class="w-full flex self-stretch flex-col items-start justify-center px-5 py-2.5 bg-gray-200 rounded-lg hover:bg-indigo-900 text-gray-800 hover:text-white transition duration-300" id="dashboard" onClick={() => { dashboard() }}>
      <div class="text-sm font-bold" id="text-dashboard">Dashboard</div>
    </button>
    <div class="flex self-stretch flex-col items-start justify-center rounded-lg">
      <button class="collapsible flex self-stretch items-center justify-center px-5 py-2.5 bg-gray-200 rounded-lg hover:bg-indigo-900 text-gray-800 hover:text-white transition duration-300" id="karyawan">
        <div class="flex flex-1 self-stretch flex-col items-start justify-center">
          <div class="text-sm font-bold" id="text-karyawan">Karyawan</div>
        </div>
        <!-- <div class="flex flex-1 self-stretch flex-col items-end justify-center">
          <div class="text-sm font-bold"><faicon id="text-karyawan" iconName="ArrowDown" class="down"/></div>
        </div> -->
      </button>
      <div class="items-start justify-center ml-5 pr-10 content w-full">
        <button class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-4 hover:border-indigo-900 mt-2.5" id="btn-data-karyawan" onClick={() => { dataKaryawan() }}>
          <div class="text-sm font-semibold" id="text-data-karyawan">Data Karyawan</div>
        </button>
        <button class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-4 hover:border-indigo-900">
          <div class="text-sm font-semibold">
            Parameter Penggajian
          </div>
        </button>
        <button class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-4 hover:border-indigo-900" id="btn-divisi" onClick={() => { divisi() }}>
          <div class="text-sm font-semibold" id="text-divisi">Divisi</div>
        </button>
      </div>
    </div>
    <!--  -->
    <div class="flex self-stretch flex-col items-start justify-center rounded-lg">
      <button class="collapsible flex self-stretch items-center justify-center px-5 py-2.5 bg-gray-200 rounded-lg hover:bg-indigo-900 text-gray-800 hover:text-white transition duration-300" id="gaji">
        <div class="flex flex-1 self-stretch flex-col items-start justify-center">
          <div class="text-sm font-bold" id="text-gaji">Gaji</div>
        </div>
        <!-- <div class="flex flex-1 self-stretch flex-col items-end justify-center">
          <div class="text-sm font-bold"><faicon id="text-karyawan" iconName="ArrowDown" class="down"/></div>
        </div> -->
      </button>
      <div class="items-start justify-center ml-5 pr-10 content w-full">
        <button class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-4 hover:border-indigo-900 mt-2.5" id="btn-informasi-gaji">
          <div class="text-sm font-semibold" id="text-informasi-gaji">Informasi Gaji</div>
        </button>
        <button class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-4 hover:border-indigo-900">
          <div class="text-sm font-semibold">
            Pengeluaran Uang
          </div>
        </button>
        <button class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-4 hover:border-indigo-900" id="btn-pemasukan-uang">
          <div class="text-sm font-semibold" id="text-divisi">Pemasukan Uang</div>
        </button>
      </div>
    </div>
    <!--  -->
    <div class="flex self-stretch flex-col items-start justify-center rounded-lg">
      <button class="collapsible flex self-stretch items-center justify-center px-5 py-2.5 bg-gray-200 rounded-lg hover:bg-indigo-900 text-gray-800 hover:text-white transition duration-300" id="presensi">
        <div class="flex flex-1 self-stretch flex-col items-start justify-center">
          <div class="text-sm font-bold" id="text-presensi">Presensi</div>
        </div>
        <!-- <div class="flex flex-1 self-stretch flex-col items-end justify-center">
          <div class="text-sm font-bold"><faicon id="text-karyawan" iconName="ArrowDown" class="down"/></div>
        </div> -->
      </button>
      <div class="items-start justify-center ml-5 pr-10 content w-full">
        <button class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-4 hover:border-indigo-900 mt-2.5" id="btn-kehadiran">
          <div class="text-sm font-semibold" id="text-kehadiran">List Kehadiran</div>
        </button>
        <button class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-4 hover:border-indigo-900">
          <div class="text-sm font-semibold">
            List Perizinan
          </div>
        </button>
      </div>
    </div>
    <!--  -->
    <button class="w-full flex self-stretch flex-col items-start justify-center px-5 py-2.5 bg-gray-200 rounded-lg hover:bg-indigo-900 text-gray-800 hover:text-white transition duration-300" onClick={() => { logout() }}>
      <div class="text-sm font-bold">Logout</div>
    </button>
  </div>
</div>