<>
  <effect
    meta={{}}
    run={async () => {
      if (document.readyState === "complete") {
        document.getElementById("gaji").classList.toggle("bg-indigo-900");
        document.getElementById("gaji").classList.remove("hover:bg-gray-200");
        document.getElementById("gaji").classList.toggle("active");
        document.getElementById("text-gaji").classList.toggle("text-white");
        document
          .getElementById("btn-informasi-gaji")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-informasi-gaji")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("gaji").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
    }}
  />
  <>
    <a class="text-xl font-bold">Edit Tambahan Gaji</a>
    <nav class="font-sans w-full mb-7 mt-2">
      <ol class="list-reset flex text-grey-dark text-xs space-x-3">
        <li>
          <a href="#">Gaji</a>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <a href="#">Informasi Gaji</a>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <li>Detail Gaji</li>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <li>Edit Tambahan</li>
        </li>
      </ol>
    </nav>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-full p-8">
      <div class="w-1/2 space-y-5">
        <div class="flex items-start justify-center w-full space-x-10">
          <div class="flex flex-col space-y-5 items-start justify-start w-full">
            <div class="flex flex-col space-y-2 items-start justify-center w-full">
              <div class="text-sm font-bold text-black">Keterangan</div>
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                defaultValue="Bonus Target"
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center w-full">
              <div class="text-sm font-bold text-black">Nominal</div>
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                defaultValue="2000000"
              />
            </div>
          </div>
        </div>
        <button
          class="bg-gray-200 hover:bg-gray-300 text-gray-900 text-xs font-medium py-1 px-2 rounded inline-flex items-center"
          onClick={() => {}}
        >
          <faicon iconName="Plus" class="mr-2" />
          <span>Tambah Tambahan Gaji</span>
        </button>
        {/*<div class="flex items-start justify-center w-full space-x-10">*/}
        {/*<div class="flex flex-col space-y-5 items-start justify-start w-full">*/}
        {/*<div class="flex flex-col space-y-2 items-start justify-center w-full">*/}
        {/*<div class="text-sm font-bold text-black">Keterangan</div>*/}
        {/*<input*/}
        {/*type="text"*/}
        {/*class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"*/}
        {/*defaultValue="Bonus Target"*/}
        {/*/>*/}
        {/*</div>*/}
        {/*<div class="flex flex-col space-y-2 items-start justify-center w-full">*/}
        {/*<div class="text-sm font-bold text-black">Nominal</div>*/}
        {/*<input*/}
        {/*type="text"*/}
        {/*class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"*/}
        {/*defaultValue="2000000"*/}
        {/*/>*/}
        {/*</div>*/}
        {/*</div>*/}
        {/*</div>*/}
        <div class="flex items-center justify-center space-x-2">
          <button
            type="submit"
            class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold  py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
          >
            <span>Simpan Perubahan</span>
          </button>
          <button
            type="submit"
            class="bg-black text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
            onClick={() => {
              history.back();
            }}
          >
            <span>Batal</span>
          </button>
        </div>
      </div>
    </div>
  </>
</>