<>
  <effect
    meta={{}}
    run={async () => {
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-divisi")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-divisi")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
      meta.action = {
        changeButtonDivisi: () => {
          document
            .getElementById("btn-default-divisi")
            .classList.toggle("hidden");
          document
            .getElementById("btn-action-divisi")
            .classList.toggle("hidden");
          const inputDivisi = document.getElementById("input-divisi");
          inputDivisi.toggleAttribute("disabled");
          inputDivisi.classList.toggle("border");
        },
        changeButtonJabatan: (s) => {
          document
            .getElementById("btn-default-jabatan" + s)
            .classList.toggle("hidden");
          document
            .getElementById("btn-action-jabatan" + s)
            .classList.toggle("hidden");
          const inputJabatan = document.getElementById("input-jabatan" + s);
          inputJabatan.toggleAttribute("disabled");
          inputJabatan.classList.toggle("border");
        },
        tambahJabatan: () => {
          var tr = document.createElement("tr");
          var tdleft = document.createElement("td");
          var tdright = document.createElement("td");
          var input = document.createElement("input");
          var buttonsave = document.createElement("button");
          var buttoncancel = document.createElement("button");
          input.classList.add(
            "border",
            "focus:outline-none",
            "border-gray-500",
            "py-1.5",
            "px-3",
            "rounded-xl"
          );

          buttonsave.classList.add(
            "bg-green-200",
            "hover:bg-green-300",
            "text-black",
            "text-xs",
            "font-bold",
            "rounded",
            "inline-flex",
            "items-center",
            "justify-center",
            "w-7",
            "h-7"
          );
          buttoncancel.classList.add(
            "bg-gray-200",
            "hover:bg-gray-300",
            "text-black",
            "text-xs",
            "font-bold",
            "rounded",
            "inline-flex",
            "items-center",
            "justify-center",
            "w-7",
            "h-7"
          );
          buttonsave.innerHTML =
            '<img src="../../../save-solid.svg" class="w-2.5"></img>';
          buttoncancel.innerHTML =
            '<img src="../../../times-solid.svg" class="w-2.5"></img>';
          tdleft.appendChild(input);
          tdleft.classList.add("border-t", "border-gray-200", "px-5", "py-2");
          tdright.appendChild(buttonsave);
          tdright.appendChild(buttoncancel);
          tdright.classList.add(
            "p-5",
            "text-right",
            "space-x-2",
            "w-full",
            "text-right",
            "inline-flex",
            "items-end",
            "justify-end"
          );
          tr.appendChild(tdleft);
          tr.appendChild(tdright);
          tr.classList.add("border-t", "border-gray-200");
          document.getElementById("jabatan").appendChild(tr);
        },
      };
    }}
  />
  <>
    <div class="flex flex-col items-start justify-start bg-white shadow border rounded-2xl border-gray-200 w-3/4">
      <div class="flex self-stretch items-center justify-between bg-white shadow-inner p-5 rounded-2xl">
        <div class="flex flex-col items-start justify-start">
          <div class="flex items-center justify-start">
            <div class="text-lg font-bold text-black">Detail Divisi</div>
          </div>
        </div>
      </div>
      <div class="w-full pb-5">
        {/*divisi*/}
        <table class="w-full">
          <thead>
            <tr>
              <th class=" border-gray-200 px-5 py-2 text-left">Nama Divisi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-t border-gray-200 p-5">
                <input
                  type="text"
                  class="border-0 focus:outline-none border-gray-500 py-1.5 px-3 rounded-xl"
                  style="min-width: 215px;"
                  id="input-divisi"
                  // value=""
                  disabled
                />
              </td>
              <td class="border-t border-gray-200 p-5 text-right">
                <div id="btn-default-divisi">
                  <button
                    class="bg-indigo-200 hover:bg-indigo-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7"
                    onClick={() => {
                      meta.action.changeButtonDivisi();
                    }}
                  >
                    <faicon iconName="edit" class="" />
                  </button>
                </div>
                <div id="btn-action-divisi" class="hidden space-x-2">
                  <button class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7">
                    <faicon iconName="save" class="" />
                  </button>
                  <button
                    class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7"
                    onClick={() => {
                      meta.action.changeButtonDivisi();
                    }}
                  >
                    <faicon iconName="cancel" class="" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        {/*end divisi*/}
        {/*jabatan*/}
        <table class="w-full">
          <thead>
            <tr>
              <th class=" border-gray-200 px-5 py-2 text-left">Nama Jabatan</th>
            </tr>
          </thead>
          <tbody id="jabatan">
            <tr>
              <td class="border-t border-gray-200 p-5">
                <input
                  type="text"
                  class="border-0 focus:outline-none border-gray-500 py-1.5 px-3 rounded-xl"
                  style="min-width: 215px;"
                  id="input-jabatan1"
                  // value=""
                  disabled
                />
              </td>
              <td class="border-t border-gray-200 p-5 text-right">
                <div id="btn-default-jabatan1">
                  <button
                    class="bg-indigo-200 hover:bg-indigo-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7"
                    onClick={() => {
                      meta.action.changeButtonJabatan(1);
                    }}
                  >
                    <faicon iconName="edit" class="" />
                  </button>
                </div>
                <div id="btn-action-jabatan1" class="hidden space-x-2">
                  <button class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7">
                    <faicon iconName="save" class="" />
                  </button>
                  <button class="bg-red-200 hover:bg-red-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7">
                    <faicon iconName="delete" class="" />
                  </button>
                  <button
                    class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7"
                    onClick={() => {
                      meta.action.changeButtonJabatan(1);
                    }}
                  >
                    <faicon iconName="cancel" class="" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        {/*end jabatan*/}
        <div class="flex flex-1 items-center justify-center flex-col space-y-6">
          <button
            class="bg-gray-300 text-white rounded-full w-8 h-8 hover:bg-gray-400"
            onClick={() => {
              meta.action.tambahJabatan();
            }}
          >
            <faicon iconName="plus" class="" />
          </button>
        </div>
      </div>
    </div>

    {/*   batas */}
    {/*<a class="text-xl font-bold">Tambah Divisi</a>*/}
    {/*<nav class="font-sans w-full mb-7 mt-2">*/}
    {/*<ol class="list-reset flex text-grey-dark text-xs space-x-3">*/}
    {/*<li>*/}
    {/*<a href="#">Karyawan</a>*/}
    {/*</li>*/}
    {/*<li>*/}
    {/*<faicon iconName="arrowRight" />*/}
    {/*</li>*/}
    {/*<li>*/}
    {/*<a href="#">Divisi</a>*/}
    {/*</li>*/}
    {/*<li>*/}
    {/*<faicon iconName="arrowRight" />*/}
    {/*</li>*/}
    {/*<li>*/}
    {/*<li>Tambah Divisi</li>*/}
    {/*</li>*/}
    {/*</ol>*/}
    {/*</nav>*/}
    {/*<div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-3/4 p-8">*/}
    {/*<div class="w-full">*/}
    {/*<form*/}
    {/*onSubmit={(e) => {*/}
    {/*meta.action.submitDepartemen();*/}
    {/*e.preventDefault();*/}
    {/*}}*/}
    {/*>*/}
    {/*<table class="w-full">*/}
    {/*<thead>*/}
    {/*<tr>*/}
    {/*<th class="text-left text-sm font-normal">Nama Divisi</th>*/}
    {/*</tr>*/}
    {/*</thead>*/}
    {/*<tbody>*/}
    {/*<tr>*/}
    {/*<td class="py-2">*/}
    {/*<input*/}
    {/*type="text"*/}
    {/*placeholder="Masukkan Divisi"*/}
    {/*class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-96 text-md"*/}
    {/*id="input-divisi"*/}
    {/*onChange={(e) => meta.action.setDepartemen(e)}*/}
    {/*required*/}
    {/*/>*/}
    {/*</td>*/}
    {/*<td class="py-2 text-right space-x-2" id="btn-save-divisi">*/}
    {/*<div>*/}
    {/*<button*/}
    {/*class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7"*/}
    {/*type="submit"*/}
    {/*id="button-save-divisi"*/}
    {/*>*/}
    {/*<faicon iconName="save" class="" />*/}
    {/*</button>*/}
    {/*</div>*/}
    {/*</td>*/}
    {/*</tr>*/}
    {/*</tbody>*/}
    {/*</table>*/}
    {/*</form>*/}
    {/**/}
    {/*<div id="form-jabatan">*/}
    {/*<table class="w-full mt-5">*/}
    {/*<thead>*/}
    {/*<tr>*/}
    {/*<th class="text-left text-sm font-normal">Nama Jabatan</th>*/}
    {/*</tr>*/}
    {/*</thead>*/}
    {/*<tbody id="jabatan">*/}
    {/*<tr>*/}
    {/*<td class="py-2">*/}
    {/*<input*/}
    {/*type="text"*/}
    {/*placeholder="Masukkan jabatan ke 1"*/}
    {/*class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-96 text-md"*/}
    {/*id="input-jabatan1"*/}
    {/*/>*/}
    {/*</td>*/}
    {/*<td class="py-2 text-right space-x-2">*/}
    {/*<button class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7">*/}
    {/*<faicon iconName="save" class="" />*/}
    {/*</button>*/}
    {/*</td>*/}
    {/*</tr>*/}
    {/*</tbody>*/}
    {/*</table>*/}
    {/*<div class="mt-1">*/}
    {/*<button*/}
    {/*class="bg-gray-200 hover:bg-gray-300 text-gray-900 text-xs font-medium py-1 px-2 rounded inline-flex items-center"*/}
    {/*type="button"*/}
    {/*onClick={() => {*/}
    {/*meta.index++;*/}
    {/*meta.action.tambahJabatan();*/}
    {/*}}*/}
    {/*>*/}
    {/*<faicon iconName="Plus" class="mr-2" />*/}
    {/*<span>Tambah Jabatan</span>*/}
    {/*</button>*/}
    {/*</div>*/}
    {/*</div>*/}
    {/*</div>*/}
    {/*</div>*/}
  </>
</>