<>
  <effect
    meta={{
      jabatan: [],
      jabatanTemp: [],
      jabatanLength: "",
      departemen: "",
      departemenTemp: "",
      id_departemen: "",
      addJabatanState: false,
      action: {},
    }}
    run={async () => {
      // Get data
      const getData = (id) => {
        api("/api/r-jabatan", { id_departemen: id }).then((res) => {
          meta.jabatan = res.jabatan;
          meta.departemen = res.departemen;
          meta.id_departemen = res.id_departemen;
          meta.jabatanLength = res.jabatan.length;
          // Set temp data
          meta.departemenTemp = res.departemen;
          meta.jabatanTemp = res.jabatan;
          meta.addJabatanState = false;
        });
      };
      getData(params.id);

      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-divisi")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-divisi")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
      meta.action = {
        changeButtonDivisi: () => {
          document
            .getElementById("btn-default-divisi")
            .classList.toggle("hidden");
          document
            .getElementById("btn-action-divisi")
            .classList.toggle("hidden");

          //
          const inputDivisi = document.getElementById("input-divisi");
          inputDivisi.toggleAttribute("disabled");
          inputDivisi.classList.toggle("border");
          inputDivisi.classList.toggle("px-3");
        },
        changeButtonJabatan: (s) => {
          document
            .getElementById("btn-default-jabatan" + s)
            .classList.toggle("hidden");
          document
            .getElementById("btn-action-jabatan" + s)
            .classList.toggle("hidden");
          const inputJabatan = document.getElementById("input-jabatan" + s);
          // inputJabatan.toggleAttribute("disabled");
          inputJabatan.disabled = !inputJabatan.disabled;
          inputJabatan.classList.toggle("border");
          inputJabatan.classList.toggle("px-3");
        },
        tambahJabatan: () => {
          var tr = document.createElement("tr");
          var tdleft = document.createElement("td");
          var tdright = document.createElement("td");
          var input = document.createElement("input");
          var buttonsave = document.createElement("button");
          var buttoncancel = document.createElement("button");

          // Tambah jabatanLength
          meta.jabatanLength += 1;
          tr.setAttribute("id", "jabatan" + (meta.jabatanLength - 1));
          meta.addJabatanState = true;

          input.onchange = (e) => {
            meta.action.setJabatan2(e, meta.jabatanLength - 1);
          };
          buttoncancel.onclick = () => {
            meta.action.cancelJabatan(meta.jabatanLength - 1);
          };
          buttonsave.onclick = () => {
            meta.action.addJabatan(meta.jabatanLength - 1);
          };
          input.setAttribute("id", "input-jabatan" + (meta.jabatanLength - 1));
          tdright.setAttribute("id", "btn-action" + (meta.jabatanLength - 1));
          input.classList.add(
            "border",
            "focus:outline-none",
            "focus:border-indigo-900",
            "border-gray-300",
            "py-1.5",
            "px-3",
            "rounded",
            "w-96",
            "text-md"
          );

          buttonsave.classList.add(
            "bg-green-200",
            "hover:bg-green-300",
            "text-black",
            "text-xs",
            "font-bold",
            "w-7",
            "h-6",
            "rounded",
            "inline-flex",
            "items-center",
            "justify-center"
          );
          buttoncancel.classList.add(
            "bg-gray-200",
            "hover:bg-gray-300",
            "text-black",
            "text-xs",
            "font-bold",
            "w-7",
            "h-6",
            "rounded",
            "inline-flex",
            "items-center",
            "justify-center"
          );
          buttonsave.innerHTML =
            '<img src="../../../save-solid.svg" class="w-2.5"></img>';
          buttoncancel.innerHTML =
            '<img src="../../../times-solid.svg" class="w-2.5"></img>';
          tdleft.appendChild(input);
          tdright.appendChild(buttonsave);
          tdright.appendChild(buttoncancel);
          tdright.classList.add(
            "text-right",
            "space-x-2",
            "w-full",
            "py-3.5",
            "text-right",
            "inline-flex",
            "items-end",
            "justify-end"
          );
          tr.appendChild(tdleft);
          tr.appendChild(tdright);
          document.getElementById("jabatan").appendChild(tr);
        },
        setDivisi: (e) => {
          meta.departemen = e.target.value;
        },
        saveDivisi: () => {
          api("/api/u-departemen", {
            id_departemen: meta.id_departemen,
            nama_departemen: meta.departemen,
          }).then((res) => {
            if (res.status == "success") {
              meta.action.changeButtonDivisi();
            } else {
              console.log("error");
            }
          });
        },
        updateJabatan: (index) => {
          api("/api/u-jabatan", {
            id_jabatan: meta.jabatanTemp[index].id_jabatan,
            nama_jabatan: meta.jabatanTemp[index].nama_jabatan,
          }).then((res) => {
            if (res.status == "success") {
              meta.action.changeButtonJabatan(index);
            } else {
              console.log(res.status);
            }
          });
        },
        setJabatan: (e, index) => {
          meta.jabatanTemp[index].nama_jabatan = e.target.value;
          console.log(meta.jabatanTemp[index].nama_jabatan);
        },
        setJabatan2: (e, index) => {
          meta.jabatan[index] = {
            nama_jabatan: e.target.value,
          };
        },
        deleteJabatan: (index) => {
          api("/api/d-jabatan", {
            id_jabatan: meta.jabatan[index].id_jabatan,
          }).then((res) => {
            if (res.status == "success") {
              getData(params.id);
            } else {
              console.log(res.status);
            }
          });
        },
        cancelJabatan: (index) => {
          document.getElementById("jabatan" + index).remove();
          meta.jabatanLength -= 1;
          meta.addJabatanState = false;
        },
        addJabatan: (index) => {
          if (document.getElementById("input-jabatan" + index).value !== "") {
            api("/api/c-jabatan", {
              id_departemen: meta.id_departemen,
              nama_jabatan: meta.jabatan[index].nama_jabatan,
            }).then((res) => {
              if (res.status == "success") {
                // a
                document.getElementById("jabatan" + index).remove();
                // Refresh data
                getData(params.id);
                meta.jabatanState = false;

                // Hide save & cancel btn
                document.getElementById("btn-action" + index).remove();
                document
                  .getElementById("input-jabatan" + index)
                  .setAttribute("disabled", "disabled");
                document
                  .getElementById("input-jabatan" + index)
                  .classList.toggle("border");
                document
                  .getElementById("input-jabatan" + index)
                  .classList.toggle("px-3");
              } else {
                console.log("error");
              }
            });
          } else {
            console.log("error submit");
          }
        },
      };
    }}
  />
  <>
    <div class="flex items-center space-x-4">
      <div>
        <button
          type="submit"
          class="bg-white hover:border-gray-200 border-2 border-transparent duration-300 text-black text-sm font-bold rounded-full flex items-center filter drop-shadow-sm justify-center w-8 h-8"
          onClick={() => {
            history.back();
          }}
        >
          <span>
            <faicon iconName="arrowLeft" />
          </span>
        </button>
      </div>
      <div>
        <span class="text-xl font-bold">Detail Divisi</span>
        <nav class="font-normal text-gray-500 w-full mt-2">
          <ol class="list-reset flex text-xs space-x-3">
            <li>Karyawan</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>Divisi</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>
              <li>Detail Divisi</li>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-full p-8 mt-7">
      <div class="w-full">
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-left text-sm font-bold">Nama Divisi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-2">
                <input
                  type="text"
                  class="border-0 focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 rounded w-96 text-md"
                  id="input-divisi"
                  disabled
                  onChange={(e) => {
                    meta.action.setDivisi(e);
                  }}
                  defaultValue={
                    meta.departemen.nama_departemen == "undefined"
                      ? ""
                      : meta.departemen.nama_departemen
                  }
                />
              </td>
              <td class="py-2 text-right space-x-2" id="btn-save-divisi">
                <div id="btn-default-divisi">
                  <button
                    class="bg-blue-200 hover:bg-blue-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                    onClick={() => {
                      meta.action.changeButtonDivisi();
                    }}
                  >
                    <faicon iconName="edit" class="" />
                  </button>
                </div>
                <div id="btn-action-divisi" class="hidden space-x-2">
                  <button
                    class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                    onClick={() => {
                      meta.action.saveDivisi();
                    }}
                  >
                    <faicon iconName="save" class="" />
                  </button>
                  <button
                    class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                    onClick={() => {
                      meta.action.changeButtonDivisi();
                    }}
                  >
                    <faicon iconName="cancel" class="" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="form-jabatan">
          <table class="w-full mt-5">
            <thead>
              <tr>
                <th class="text-left text-sm font-bold">Nama Jabatan</th>
              </tr>
            </thead>
            <tbody id="jabatan">
              {meta.jabatanTemp.map((val, index) => (
                <tr id={"jabatan" + index}>
                  <td class="py-2">
                    <input
                      type="text"
                      class="border-0 focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 rounded w-96 text-md"
                      id={"input-jabatan" + index}
                      defaultValue={val.nama_jabatan}
                      disabled={true}
                      onChange={(e) => {
                        meta.action.setJabatan(e, index);
                      }}
                    />
                  </td>
                  <td class="py-2 text-right space-x-2">
                    <div id={"btn-default-jabatan" + index}>
                      <button
                        class="bg-blue-200 hover:bg-blue-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                        onClick={() => {
                          meta.action.changeButtonJabatan(index);
                        }}
                      >
                        <faicon iconName="edit" class="" />
                      </button>
                    </div>
                    <div
                      id={"btn-action-jabatan" + index}
                      class="hidden space-x-2"
                    >
                      <button
                        class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                        onClick={() => {
                          meta.action.updateJabatan(index);
                        }}
                      >
                        <faicon iconName="save" class="" />
                      </button>
                      <button
                        class="bg-red-200 hover:bg-red-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                        onClick={() => {
                          meta.action.deleteJabatan(index);
                        }}
                      >
                        <faicon iconName="delete" class="" />
                      </button>
                      <button
                        class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                        onClick={() => {
                          meta.action.changeButtonJabatan(index);
                        }}
                      >
                        <faicon iconName="cancel" class="" />
                      </button>
                    </div>
                  </td>
                </tr>
              ))}
            </tbody>
          </table>
          <div class="mt-1">
            <button
              class="bg-gray-200 hover:bg-gray-300 text-gray-900 text-xs font-medium py-1 px-2 rounded inline-flex items-center"
              onClick={() => {
                meta.action.tambahJabatan();
              }}
              disabled={meta.addJabatanState}
            >
              <faicon iconName="Plus" class="mr-2" />
              <span>Tambah Jabatan</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </>
</>