<>
  <effect
    meta={{}}
    run={async () => {
      const accordion = () => {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }
      };
      accordion();
      const check = () => {
        // If user has not logged in
        if (
          window.user.role == "guest" ||
          window.user.role == 2 ||
          window.user.loggedIn == false ||
          window.user == null
        ) {
          //Navigate to login page
          navigate("/login");
        }
      };
      check();
    }}
  />
  <div class="flex flex-col items-start justify-start bg-white" style="">
    <div class={`flex flex-1 self-stretch justify-center bg-white z-10`}>
      <div
        class={`flex self-stretch flex-col items-center justify-center filter drop-shadow-md`}
      >
        <sidebar
          class={`flex flex-1 self-stretch items-start justify-start rounded-2xl`}
        />
      </div>
      <div class="flex flex-1 flex-col">
        <div>
          <navbar
            class={`flex self-stretch space-x-2.5 items-center justify-start py-2.5 pl-5 pr-8 bg-indigo-900 shadow`}
          />
        </div>
        <div
          class={`flex flex-1 self-stretch flex-col items-start justify-start p-10 bg-gray-200`}
        >
          {children}
        </div>
      </div>
    </div>
  </div>
</>