<>
  <effect
    meta={{}}
    run={async () => {
      if (
        location.pathname === "/admin/data-karyawan/tambah" ||
        location.pathname === "/admin/data-karyawan/edit/" + [params.id]
      ) {
        document.getElementById("karyawan").classList.toggle("bg-indigo-500");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-data-karyawan")
          .classList.toggle("border-indigo-500");
        document
          .getElementById("text-data-karyawan")
          .classList.toggle("text-indigo-500");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      if (params.form === "tambah") {
        document.getElementById("edit").classList.add("hidden");
      } else if (params.form === "edit") {
        document.getElementById("tambah").classList.add("hidden");
      }
    }}
  />
  <>
    <div id="tambah">
      <form-data-karyawan title={"Tambah Data Karyawan"} />
    </div>
    <div id="edit">
      <form-data-karyawan title={"Edit Data Karyawan"} />
    </div>
  </>
</>