<>
  <effect meta={{}} run={async () => {}} />
  <>
    <navbar />
    <div class="flex flex-row w-full">
      <div>
        <sidebar />
      </div>
      <div class="w-full">
        <div class="p-10 w-full filter drop-shadow-lg">
          <datatable
            title={"Data Karyawan"}
            column={[
              {
                name: "No",
                selector: "no",
                sortable: true,
              },
              {
                name: "Nama Karyawan",
                selector: "nama",
                sortable: true,
              },
              {
                name: "No.Hp",
                selector: "hp",
                sortable: true,
              },
              {
                name: "Email",
                selector: "email",
                sortable: true,
              },
              {
                name: "Divisi",
                selector: "divisi",
                sortable: true,
              },
              {
                name: "Jabatan",
                selector: "jabatan",
                sortable: true,
              },
            ]}
            data={[
              {
                no: 1,
                nama: "Bejo",
                hp: "09809128391",
                email: "bejo@gmail.com",
                divisi: "Divisi IT",
                jabatan: "Developer",
              },
            ]}
          />
        </div>
      </div>
    </div>
  </>
</>