<>
  <effect
    meta={{
      action: {},
    }}
    run={async () => {
      meta.action = {
        onContentClick: (value) => {
          if (value === "hp") {
            document.getElementById("hp").classList.remove("hidden");
            document.getElementById("email").classList.add("hidden");
            document
              .getElementById("thp")
              .classList.add("text-indigo-500", "border-indigo-500");
            document
              .getElementById("temail")
              .classList.remove("text-indigo-500", "border-indigo-500");
            document
              .getElementById("temail")
              .classList.add("text-gray-300", "border-gray-300");
          } else {
            document.getElementById("hp").classList.add("hidden");
            document.getElementById("email").classList.remove("hidden");
            document
              .getElementById("temail")
              .classList.add("text-indigo-500", "border-indigo-500");
            document
              .getElementById("thp")
              .classList.remove("text-indigo-500", "border-indigo-500");
            document
              .getElementById("thp")
              .classList.add("text-gray-300", "border-gray-300");
          }
        },
      };
    }}
  />
  <>
    <navbar />
    <div class="flex flex-row">
      <div>
        <sidebar />
      </div>
      <div class="pl-20">
        <div
          class={`flex flex-1 self-stretch flex-col items-center justify-center bg-white`}
        >
          <div class={`flex flex-col items-center justify-center py-5`}>
            <div class="flex items-start justify-start">
              <button
                class={`flex flex-col items-start justify-start p-5 text-indigo-500 border-b-2 border-indigo-500`}
                id="temail"
                onClick={() => meta.action.onContentClick("email")}
              >
                <div class={`text-sm font-semibold`} id="temail">
                  Menggunakan Email
                </div>
              </button>
              <button
                class={`flex flex-col items-start justify-start p-5 text-gray-300 border-b-2 border-gray-300`}
                id="thp"
                onClick={() => meta.action.onContentClick("hp")}
              >
                <div class={`text-sm font-semibold`}>Menggunakan No.Hp</div>
              </button>
            </div>
          </div>
          <div
            class={`flex self-stretch flex-col space-y-8 items-center justify-center pt-5 hidden`}
            id="hp"
          >
            <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
              <div class="text-sm font-medium text-indigo-500">Nama</div>
              <input
                type="text"
                class={`border-2 border-indigo-600 py-2 px-3 rounded-2xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
              <div class="text-sm font-medium text-indigo-500">No HP</div>
              <input
                type="email"
                class={`border-2 border-indigo-600 py-2 px-3 rounded-2xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
              <div class="text-sm font-medium text-indigo-500">Password</div>
              <input
                type="password"
                class={`border-2 border-indigo-600 py-2 px-3 rounded-2xl`}
              />
            </div>
            <div class="flex flex-col items-center justify-center rounded-lg">
              <button
                class={`flex self-stretch flex-col items-center justify-center px-14 py-2.5 bg-indigo-500 hover:bg-indigo-700 rounded-xl`}
              >
                <div class="flex self-stretch items-center justify-center">
                  <div class="text-sm font-semibold text-center text-white">
                    Selanjutnya
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div
            class={`flex self-stretch flex-col space-y-8 items-center justify-center pt-5`}
            id="email"
          >
            <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
              <div class="text-sm font-medium text-indigo-500">Nama</div>
              <input
                type="text"
                class={`border-2 border-indigo-600 py-2 px-3 rounded-2xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
              <div class="text-sm font-medium text-indigo-500">Email</div>
              <input
                type="email"
                class={`border-2 border-indigo-600 py-2 px-3 rounded-2xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
              <div class="text-sm font-medium text-indigo-500">Password</div>
              <input
                type="password"
                class={`border-2 border-indigo-600 py-2 px-3 rounded-2xl`}
              />
            </div>
            <div class="flex flex-col items-center justify-center rounded-lg">
              <button
                class={`flex self-stretch flex-col items-center justify-center px-14 py-2.5 bg-indigo-500 hover:bg-indigo-700 rounded-xl`}
              >
                <div class="flex self-stretch items-center justify-center">
                  <div class="text-sm font-semibold text-center text-white">
                    Selanjutnya
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </>
</>