<>
  <effect
    meta={{
      parameter_karyawan: [],
      parameter: [],
      userdata: {
        nama_pengguna: "",
        nomor_hp: "",
        email: "",
        jabatan: {
          nama_jabatan: "",
          departemen: {
            nama_departemen: "",
          },
        },
      },
      action: {},
    }}
    run={async () => {
      // Get userdata
      const getData = () => {
        api("/api/detail-karyawan", { id_pengguna: params.id }).then((res) => {
          meta.userdata = res.userdata;
          meta.parameter_karyawan = res.parameter_karyawan;
          meta.parameter = res.parameter;
        });
      };
      getData();
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-data-karyawan")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-data-karyawan")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      var modal = document.getElementById("modal");
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };

      meta.action = {
        changeButtonAction: () => {
          document.getElementById("btn-add").classList.toggle("hidden");
          document.getElementById("btn-cancel").classList.toggle("hidden");
          document.getElementById("btn-edit").classList.toggle("hidden");
          document.getElementById("btn-delete1").classList.toggle("hidden");
          document.getElementById("btn-delete2").classList.toggle("hidden");
        },
        setParameter: (index) => {
          api("/api/check-parameter", {
            id_parameter: meta.parameter[index].id_parameter,
            id_pengguna: params.id,
            prev_checked: meta.parameter[index.checked],
          }).then((res) => {
            if (res.status == "success") {
              getData();
            } else {
              console.log(res.status);
            }
          });
        },
      };

      const tab = document.querySelectorAll(".tab");
      const panel = document.querySelectorAll(".tab-content");

      function onTabClick(event) {
        // deactivate existing active tabs and panel

        for (let i = 0; i < tab.length; i++) {
          tab[i].classList.remove("active");
        }

        for (let i = 0; i < panel.length; i++) {
          panel[i].classList.remove("active");
        }

        // activate new tabs and panel
        event.target.classList.add("active");
        let classString = event.target.getAttribute("data-target");
        console.log(classString);
        document
          .getElementById("panels")
          .getElementsByClassName(classString)[0]
          .classList.add("active");
      }

      for (let i = 0; i < tab.length; i++) {
        tab[i].addEventListener("click", onTabClick, false);
      }
    }}
  />
  <>
    <div class="flex items-center space-x-4">
      <div>
        <button
          type="submit"
          class="bg-white hover:border-gray-200 border-2 border-transparent duration-300 text-black text-sm font-bold rounded-full flex items-center filter drop-shadow-sm justify-center w-8 h-8"
          onClick={() => {
            history.back();
          }}
        >
          <span>
            <faicon iconName="arrowLeft" />
          </span>
        </button>
      </div>
      <div>
        <span class="text-xl font-bold">Detail Karyawan</span>
        <nav class="font-normal text-gray-500 w-full mt-2">
          <ol class="list-reset flex text-xs space-x-3">
            <li>Karyawan</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>Data Karyawan</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>
              <li>Detail Karyawan</li>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-full p-8 mt-7">
      <div class="flex items-start justify-start w-full">
        <div class="flex flex-col items-start justify-start space-y-4 w-full">
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">Nama Karyawan</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.nama_pengguna}
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">Divisi Karyawan</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.jabatan.departemen.nama_departemen}
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">Jabatan Karyawan</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.jabatan.nama_jabatan}
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center w-full">
            <div class="flex w-full">
              <div class="text-sm font-bold text-black w-full">
                Parameter Penggajian
              </div>
              <div class="flex space-x-1.5">
                <button
                  class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center hidden"
                  id="btn-add"
                  onClick={() => {
                    document.getElementById("modal").style.display = "block";
                  }}
                >
                  <faicon iconName="plus" class="" />
                </button>
                <button
                  class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center hidden"
                  id="btn-cancel"
                  onClick={() => {
                    meta.action.changeButtonAction();
                  }}
                >
                  <faicon iconName="cancel" class="" />
                </button>
                <button
                  class="bg-blue-200 hover:bg-blue-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                  id="btn-edit"
                  onClick={() => {
                    meta.action.changeButtonAction();
                  }}
                >
                  <faicon iconName="edit" class="" />
                </button>
              </div>
            </div>

            <div class="flex justify-center w-full">
              <ul class="bg-white border-t border-l border-r border-gray-300 text-gray-900 w-full mt-2">
                {/*<li class="px-4 py-2 border-b border-gray-300 w-full flex">*/}
                {/*<span class="w-full">An item</span>*/}
                {/*<button*/}
                {/*class="bg-red-200 hover:bg-red-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center hidden"*/}
                {/*id="btn-delete1"*/}
                {/*>*/}
                {/*<faicon iconName="delete" class="" />*/}
                {/*</button>*/}
                {/*</li>*/}

                {meta.parameter_karyawan.map((val) => (
                  <li class="px-4 py-2 border-b border-gray-300 w-full flex">
                    <span class="w-full">
                      {val.parameter_penggajian.nama_parameter}
                    </span>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-start justify-start w-full space-y-4">
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">No.Hp</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.nomor_hp}
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">Email</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.email}
            </div>
          </div>
        </div>
        <div class="flex flex-col items-end justify-start w-auto">
          <button
            class="bg-blue-200 hover:bg-blue-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
            onClick={() => {
              navigate("/admin/data-karyawan/edit/" + params.id);
            }}
          >
            <faicon iconName="edit" class="" />
          </button>
        </div>
      </div>
    </div>

    <div class="modal z-20" id="modal">
      <form class="modal-content w-max flex flex-col items-center justify-center">
        <div class="flex flex-col bg-white rounded w-full">
          <div class="flex items-end justify-end rounded">
            <button
              class="bg-gray-100 hover:bg-gray-200 text-black text-sm w-8 h-8 rounded inline-flex items-center justify-center"
              onClick={() => {
                document.getElementById("modal").style.display = "none";
              }}
            >
              <faicon iconName="cancel" class="" />
            </button>
          </div>

          {/*<div class="w-full flex justify-center mb-3">*/}
          {/*<div class="w-1/2">*/}
          {/*<nav class="tabs flex w-full rounded space-x-3">*/}
          {/*<button*/}
          {/*data-target="panel-1"*/}
          {/*class="tab text-sm font-bold bg-gray-200 hover:bg-gray-300 py-1 w-full rounded active"*/}
          {/*>*/}
          {/*Default*/}
          {/*</button>*/}
          {/*<button*/}
          {/*data-target="panel-2"*/}
          {/*class="tab text-sm font-bold bg-gray-200 py-1 w-full rounded hover:bg-gray-300"*/}
          {/*>*/}
          {/*Baru*/}
          {/*</button>*/}
          {/*</nav>*/}
          {/*</div>*/}
          {/*</div>*/}

          <div id="panels">
            <div class="panel-1 tab-content py-5 px-9 active">
              <datatable
                pagination={true}
                dense={true}
                column={[
                  {
                    name: "Nama Parameter",
                    selector: (row) => row.nama_parameter,
                    sortable: true,
                  },
                  {
                    name: "Pendapatan",
                    selector: (row) => row.pendapatan,
                    sortable: true,
                  },
                  {
                    name: "Action",
                    sortable: true,
                    center: true,
                    cell: (row, index) => (
                      <>
                        <input
                          type="checkbox"
                          class="form-checkbox"
                          id={"check" + row.id_parameter}
                          defaultChecked={row.checked}
                          onChange={() => {
                            meta.action.setParameter(index);
                          }}
                        />
                      </>
                    ),
                  },
                ]}
                data={meta.parameter}
              />
            </div>
            <div class="panel-2 tab-content mt-5">
              <div class="space-y-5 px-14 pb-14">
                <div class="space-y-2">
                  <div class="text-left text-sm font-bold">Nama Parameter</div>
                  <input
                    type="text"
                    placeholder="Masukkan nama parameter"
                    class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-96 text-md"
                    id="nama_parameter"
                    required
                  />
                </div>
                <div class="space-y-2">
                  <div class="text-left text-sm font-bold">Pendapatan</div>
                  <input
                    type="number"
                    placeholder="Masukkan pendapatan"
                    class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-96 text-md"
                    id="pendapatan"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded items-center filter drop-shadow-sm justify-center w-full"
                >
                  <span>Submit</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </>
</>