<>
  <effect
    meta={{
      userdata: {
        nama_pengguna: "",
        nomor_hp: "",
        email: "",
        jabatan: {
          nama_jabatan: "",
          departemen: {
            nama_departemen: "",
          },
        },
      },
    }}
    run={async () => {
      // Get userdata
      api("/api/detail-karyawan", { id_pengguna: params.id }).then((res) => {
        meta.userdata = res.userdata;
      });
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-data-karyawan")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-data-karyawan")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      if (params.form === "tambah") {
        document.getElementById("edit").classList.add("hidden");
      } else if (params.form === "edit") {
        document.getElementById("tambah").classList.add("hidden");
      }
    }}
  />
  <>
    <a class="text-xl font-bold">Detail Karyawan</a>
    <nav class="font-sans w-full mb-7 mt-2">
      <ol class="list-reset flex text-grey-dark text-xs space-x-3">
        <li>
          <a href="#">Karyawan</a>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <a href="#">Data Karyawan</a>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <li>Detail Karyawan</li>
        </li>
      </ol>
    </nav>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-3/4 p-8">
      {/*<div class="flex self-stretch items-center justify-between p-6 shadow-inner border-b border-gray-200">*/}
      {/*<div class="flex flex-col items-start justify-start">*/}
      {/*<div class="flex items-center justify-start">*/}
      {/*<div class="text-lg font-bold text-gray-600">Detail Karyawan</div>*/}
      {/*</div>*/}
      {/*</div>*/}
      {/*<div class="flex items-end justify-start">*/}
      {/*<div class="flex items-center justify-center">*/}
      {/*<button*/}
      {/*class="bg-indigo-200 hover:bg-indigo-300 text-black text-xs font-bold py-1 px-2 inline-flex items-center rounded"*/}
      {/*onClick={() => {*/}
      {/*navigate("/admin/data-karyawan/edit/" + params.id);*/}
      {/*}}*/}
      {/*>*/}
      {/*<faicon iconName="edit" class="" />*/}
      {/*</button>*/}
      {/*</div>*/}
      {/*</div>*/}
      {/*</div>*/}
      <div class="flex items-start justify-start w-full">
        <div class="flex flex-col items-start justify-start space-y-4 w-full">
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">Nama Karyawan</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.nama_pengguna}
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">Divisi Karyawan</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.jabatan.departemen.nama_departemen}
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">Jabatan Karyawan</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.jabatan.nama_jabatan}
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="text-sm font-bold text-black">Parameter Penggajian</div>
          </div>
        </div>
        <div class="flex flex-col items-start justify-start w-full space-y-4">
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">No.Hp</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.nomor_hp}
            </div>
          </div>
          <div class="flex flex-col space-y-1 items-start justify-center">
            <div class="flex items-start justify-start">
              <div class="text-sm font-bold text-black">Email</div>
            </div>
            <div class="text-sm font-normal text-black">
              {meta.userdata.email}
            </div>
          </div>
          {/*<div class="flex flex-col space-y-1 items-start justify-center">*/}
          {/*<div class="text-sm font-bold text-black">Contact</div>*/}
          {/*<div class="text-sm font-bold text-black">No.Hp</div>*/}
          {/*<div class="text-sm font-normal text-black">*/}
          {/*{meta.userdata.nomor_hp}*/}
          {/*</div>*/}
          {/*<div class="text-sm font-bold text-black">Email</div>*/}
          {/*<div class="text-sm font-normal text-black">*/}
          {/*{meta.userdata.email}*/}
          {/*</div>*/}
          {/*</div>*/}
        </div>
        <div class="flex flex-col items-end justify-start w-auto">
          <button
            class="bg-blue-200 hover:bg-blue-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
            onClick={() => {
              navigate("/admin/data-karyawan/edit/" + params.id);
            }}
          >
            <faicon iconName="edit" class="" />
          </button>

          {/*<div class="flex flex-col space-y-1 items-start justify-center">*/}
          {/*<div class="text-sm font-bold text-black">Contact</div>*/}
          {/*<div class="text-sm font-bold text-black">No.Hp</div>*/}
          {/*<div class="text-sm font-normal text-black">*/}
          {/*{meta.userdata.nomor_hp}*/}
          {/*</div>*/}
          {/*<div class="text-sm font-bold text-black">Email</div>*/}
          {/*<div class="text-sm font-normal text-black">*/}
          {/*{meta.userdata.email}*/}
          {/*</div>*/}
          {/*</div>*/}
        </div>
      </div>
    </div>
  </>
</>