<>
  <effect
    meta={{}}
    run={async () => {
      var modal = document.getElementById("delete");

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    }}
  />
  <>
    <button
      class="bg-indigo-900 p-5 text-white z-10 w-full"
      onClick={() => {
        document.getElementById("delete").style.display = "block";
      }}
    >
      Open Modal
    </button>

    <div id="id01" class="modal">
      <form class="modal-content w-max">
        <div class="flex flex-col bg-white p-10 space-y-6 rounded">
          <div class="font-bold">Apakah yakin ingin menghapus?</div>
          <div class="flex flex-row w-full text-sm">
            <button class="w-full bg-indigo-900 mx-5 p-1 rounded text-white font-bold hover:bg-indigo-800">
              Ya
            </button>
            <button
              class="w-full bg-gray-200 mx-5 p-1 rounded font-bold hover:bg-gray-300"
              type="button"
              onClick={() => {
                document.getElementById("id01").style.display = "none";
              }}
            >
              Batal
            </button>
          </div>
        </div>
        {/*<div class="container">*/}
        {/*<h1>Delete Account</h1>*/}
        {/*<p>Are you sure you want to delete your account?</p>*/}
        {/*<div class="clearfix">*/}
        {/*<button*/}
        {/*type="button"*/}
        {/*onClick={() => {*/}
        {/*document.getElementById("id01").style.display = "none";*/}
        {/*}}*/}
        {/*class="cancelbtn"*/}
        {/*>*/}
        {/*Cancel*/}
        {/*</button>*/}
        {/*<button*/}
        {/*type="button"*/}
        {/*onClick={() => {*/}
        {/*document.getElementById("id01").style.display = "none";*/}
        {/*}}*/}
        {/*class="deletebtn"*/}
        {/*>*/}
        {/*Delete*/}
        {/*</button>*/}
        {/*</div>*/}
        {/*</div>*/}
      </form>
    </div>
  </>
</>