<>
  <effect
    meta={{
      userdata: "",
      nama_pengguna: "",
      email: "",
      id_departemen: "",
      id_jabatan: "",
      nomor_hp: "",
      departemenData: [],
      jabatanData: [],
      jabatanState: false,
      submitState: false,
      action: {},
    }}
    run={async () => {
      // Get data
      api("/api/detail-karyawan", { id_pengguna: params.id }).then((res) => {
        meta.userdata = res.userdata;
        meta.id_departemen = meta.userdata.jabatan.id_departemen;
        meta.id_jabatan = meta.userdata.jabatan.id_jabatan;
        meta.nama_pengguna = res.userdata.nama_pengguna;
        meta.email = res.userdata.email;
        meta.nomor_hp = res.userdata.nomor_hp;
      });
      api("/api/r-departemen").then((res) => {
        meta.departemenData = res.departemen;
        api("/api/r-jabatan", {
          id_departemen: res.departemen.id_departemen,
        }).then((res) => {
          meta.jabatanData = res.jabatan;
        });
      });

      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-data-karyawan")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-data-karyawan")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      meta.action = {
        setDepartemen: (e) => {
          meta.id_departemen = e.target.value;
          // Set value jabatan
          if (meta.id_departemen == "#") {
            meta.id_jabatan = "#";
            meta.jabatanState = true;
            meta.submitState = true;
          } else {
            api("/api/r-jabatan", {
              id_departemen: parseInt(meta.id_departemen),
            }).then((res) => {
              meta.jabatanData = res.jabatan;
              meta.jabatanState = false;
            });
          }
        },
        setJabatan: (e) => {
          meta.id_jabatan = e.target.value;
          if (meta.id_jabatan == "#") {
            meta.submitState = true;
          } else {
            meta.submitState = false;
          }
        },
        setNama: (e) => {
          meta.nama_pengguna = e.target.value;
        },
        setNomorHP: (e) => {
          meta.nomor_hp = e.target.value;
        },
        setEmail: (e) => {
          meta.email = e.target.value;
        },
        submitData: () => {
          api("/api/u-karyawan", {
            id_pengguna: params.id,
            nama_pengguna: meta.nama_pengguna,
            email: meta.email,
            nomor_hp: meta.nomor_hp,
            id_jabatan: meta.id_jabatan,
          }).then((res) => {
            if (res.status == "success") {
              navigate("/admin/data-karyawan");
            } else {
              console.log("error");
            }
          });
        },
      };
    }}
  />
  <>
    <div class="flex items-center space-x-4">
      <div>
        <button
          type="submit"
          class="bg-white hover:border-gray-200 border-2 border-transparent duration-300 text-black text-sm font-bold rounded-full flex items-center filter drop-shadow-sm justify-center w-8 h-8"
          onClick={() => {
            history.back();
          }}
        >
          <span>
            <faicon iconName="arrowLeft" />
          </span>
        </button>
      </div>
      <div>
        <span class="text-xl font-bold">Edit Karyawan</span>
        <nav class="font-normal text-gray-500 w-full mt-2">
          <ol class="list-reset flex text-xs space-x-3">
            <li>Karyawan</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>Data Karyawan</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>
              <li>Detail Karyawan</li>
            </li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>
              <li>Edit Karyawan</li>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-full p-8 mt-7">
      <form
        class="w-full"
        onSubmit={(e) => {
          meta.action.submitData();
          e.preventDefault();
        }}
      >
        <div class="flex items-start justify-center w-full space-x-10">
          <div class="flex flex-col space-y-5 items-start justify-start w-full">
            <div class="flex flex-col space-y-2 items-start justify-center w-full">
              <div class="text-sm font-bold text-black">Nama Karyawan</div>
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                required
                defaultValue={meta.userdata.nama_pengguna}
                onChange={(e) => {
                  meta.action.setNama(e);
                }}
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">No.Hp</div>
              <input
                type="number"
                class={`border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md`}
                required
                defaultValue={meta.userdata.nomor_hp}
                onChange={(e) => {
                  meta.action.setNomorHP(e);
                }}
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Email</div>
              <input
                type="email"
                class={`border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md`}
                required
                defaultValue={meta.userdata.email}
                onChange={(e) => {
                  meta.action.setEmail(e);
                }}
              />
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-start justify-start w-full">
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Divisi Karyawan</div>
              <div class="relative inline-block w-full text-gray-700">
                <select
                  class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md appearance-none"
                  placeholder="Regular input"
                  value={meta.id_departemen}
                  onChange={(e) => {
                    meta.action.setDepartemen(e);
                  }}
                >
                  <option value="#">-----</option>
                  {meta.departemenData.map((val) => (
                    <option value={val.id_departemen}>
                      {val.nama_departemen}
                    </option>
                  ))}
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                  <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                    <path
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clipRule="evenodd"
                      fillRule="evenodd"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Jabatan Karyawan</div>
              <div class="relative inline-block w-full text-gray-700">
                <select
                  class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md appearance-none"
                  placeholder="Regular input"
                  value={meta.id_jabatan}
                  disabled={meta.jabatanState}
                  onChange={(e) => {
                    meta.action.setJabatan(e);
                  }}
                >
                  <option value="#">-----</option>
                  {meta.jabatanData.map((val) => (
                    <option value={val.id_jabatan}>{val.nama_jabatan}</option>
                  ))}
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                  <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                    <path
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clipRule="evenodd"
                      fillRule="evenodd"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <button
            type="submit"
            disabled={meta.submitState}
            class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold mt-6 py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
          >
            <span>Submit</span>
          </button>
        </div>
      </form>
    </div>
  </>
</>