<>
  <effect
    meta={{
      parameter: [],
      action: {},
    }}
    run={async () => {
      const getDefaultParameter = () => {
        api("/api/r-prm-default").then((res) => {
          meta.parameter = res.parameter;
        });
      };
      getDefaultParameter();

      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document
          .getElementById("karyawan")
          .classList.remove("hover:bg-gray-200");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-parameter")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-parameter")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      meta.action = {
        setChecked: (index) => {
          api("/api/check-default-parameter", {
            id_parameter: meta.parameter[index].id_parameter,
            prev_checked: meta.parameter[index].default,
          }).then((res) => {
            if (res.status == "success") {
              getDefaultParameter();
            } else {
              console.log(res.status);
            }
          });
        },
      };
    }}
  />
  <>
    <div class="flex items-center space-x-4">
      <div>
        <button
          type="submit"
          class="bg-white hover:border-gray-200 border-2 border-transparent duration-300 text-black text-sm font-bold rounded-full flex items-center filter drop-shadow-sm justify-center w-8 h-8"
          onClick={() => {
            history.back();
          }}
        >
          <span>
            <faicon iconName="arrowLeft" />
          </span>
        </button>
      </div>
      <div>
        <span class="text-xl font-bold">Default Parameter</span>
        <nav class="font-normal text-gray-500 w-full mt-2">
          <ol class="list-reset flex text-xs space-x-3">
            <li>Karyawan</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>Parameter Penggajian</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>
              <li>Default Parameter</li>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class={`flex self-stretch items-center justify-start mt-7`}>
      <div class="flex flex-1 justify-start space-x-2">
        {/*<button class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-md">*/}
        {/*<span>Default Parameter</span>*/}
        {/*</button>*/}
      </div>
      <div class="flex flex-1 items-center justify-end">
        <input
          type="text"
          placeholder="Cari Data"
          class="border focus:outline-none focus:border-indigo-900 border-gray-200 py-1.5 px-3 rounded text-xs"
        />
      </div>
    </div>
    <div class="mt-2 w-full filter drop-shadow-sm bg-white p-3 rounded">
      <datatable
        pagination={true}
        column={[
          {
            name: "No",
            selector: (row, index) => ++index,
            sortable: true,
          },
          {
            name: "Nama Parameter",
            selector: (row) => row.nama_parameter,
            sortable: true,
          },
          {
            name: "Pendapatan",
            selector: (row) => row.pendapatan,
            sortable: true,
          },
          {
            name: "",
            // selector: (row) => row.divisi,
            sortable: true,
            cell: (row, index) => (
              <>
                <input
                  type="checkbox"
                  class="form-checkbox"
                  id={"check" + meta.parameter[index].id_parameter}
                  defaultChecked={meta.parameter[index].default}
                  onChange={() => {
                    meta.action.setChecked(index);
                  }}
                />
              </>
            ),
          },
        ]}
        data={meta.parameter}
      />
    </div>
  </>
</>