<>
  <effect
    meta={{
      penggajian: [],
      total: 0,
      action: {},
    }}
    run={async () => {
      const getData = () => {
        api("/api/informasi-gaji", {}).then((res) => {
          meta.penggajian = res.penggajian;
          meta.total = res.total;
        });
      };
      getData();

      if (document.readyState === "complete") {
        document.getElementById("gaji").classList.toggle("bg-indigo-900");
        document.getElementById("gaji").classList.remove("hover:bg-gray-200");
        document.getElementById("gaji").classList.toggle("active");
        document.getElementById("text-gaji").classList.toggle("text-white");
        document
          .getElementById("btn-informasi-gaji")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-informasi-gaji")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("gaji").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
      meta.action = {
        kirimGaji: () => {
          api("/api/kirim-gaji").then((res) => {
            if (res.status) {
              navigate("/admin/riwayat-gaji");
            } else {
              console.log(res.status);
            }
          });
        },
      };
    }}
  />
  <>
    <span class="text-xl font-bold">Informasi Gaji</span>
    <div class="flex w-full mb-5">
      <nav class="font-normal text-gray-500 w-full mt-2">
        <ol class="list-reset flex text-xs space-x-3">
          <li>Gaji</li>
          <li>
            <faicon iconName="arrowRight" />
          </li>
          <li>
            <li>Informasi Gaji</li>
          </li>
        </ol>
      </nav>
      <div class="flex w-full justify-end space-x-2">
        {/*<button*/}
        {/*class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-m justify-center"*/}
        {/*onClick={() => {}}*/}
        {/*>*/}
        {/*<span>Cetak Data</span>*/}
        {/*</button>*/}

        <button
          class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-md justify-center"
          onClick={() => {
            let conf = confirm(
              "Apakah kamu yakin? Gaji yang belum dikirim pada bulan sebelumnya akan dikirim terlebih dahulu."
            );
            if (conf) {
              meta.action.kirimGaji();
            }
          }}
        >
          <span>Kirim Ke Karyawan</span>
        </button>
      </div>
    </div>
    <div class="mt-2 w-full filter drop-shadow-sm bg-white p-3 rounded space-y-3">
      <div class={`flex self-stretch items-center justify-start`}>
        <div class="flex flex-1 justify-start space-x-2">
          <span class="text-sm font-semibold flex items-center justify-center">
            Semua Gaji
          </span>
          <span class="text-sm font-semibold bg-gray-200 px-1.5 rounded-sm flex items-center justify-center">
            {meta.penggajian.length}
          </span>
        </div>
        <div class="flex flex-1 items-center justify-end">
          <input
            type="text"
            placeholder="Cari Data"
            class="border focus:outline-none focus:border-indigo-900 border-gray-200 py-1.5 px-3 rounded text-xs"
          />
        </div>
      </div>
      <div class={`flex self-stretch items-center justify-start`}>
        <div class="flex flex-1 justify-start space-x-2">
          <span class="text-sm font-semibold flex items-center justify-center">
            Total Pengeluaran : Rp {meta.total}
          </span>
        </div>
      </div>
      <datatable
        pagination={true}
        column={[
          {
            name: "No",
            selector: (row, index) => ++index,
            sortable: true,
          },
          {
            name: "Nama Karyawan",
            selector: (row) => row.pengguna.nama_pengguna,
            sortable: true,
          },
          {
            name: "Divisi",
            selector: (row) => row.pengguna.jabatan.departemen.nama_departemen,
            sortable: true,
          },
          {
            name: "Jabatan",
            selector: (row) => row.pengguna.jabatan.nama_jabatan,
            sortable: true,
          },
          {
            name: "Jumlah Gaji",
            selector: (row) => "Rp " + row.nominal,
            sortable: true,
          },
          {
            name: "Status",
            selector: (row) => row.status_penggajian.status_penggajian,
            sortable: true,
          },
          {
            name: "Action",
            button: true,
            cell: (row, index) => (
              <>
                <div class="space-x-2">
                  <button
                    class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                    onClick={() => {
                      navigate(
                        "/admin/informasi-gaji/detail/" + row.id_penggajian
                      );
                    }}
                  >
                    <faicon iconName="show" class="" />
                  </button>
                </div>
              </>
            ),
          },
        ]}
        data={meta.penggajian}
      />
    </div>
  </>
</>