<>
  <effect
    meta={{
      action: {},
      departemen: "",
      jabatan: "",
    }}
    run={async () => {
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-divisi")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-divisi")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
      // Get Departemen
      const getDepartemen = () => {
        api("/api/r-departemen").then((res) => {
          meta.departemen = res.departemen;
        });
      };

      // const form_jabatan = document.getElementById("form_jabatan");
      // const btn_save_divisi = document.getElementById("btn-save-divisi");
      // if (params.id == undefined) {
      //   form_jabatan.classList.add("hidden");
      // } else {
      //   btn_save_divisi.classList.add("hidden");
      // }

      meta.action = {
        tambahJabatan: () => {
          var tr = document.createElement("tr");
          var tdleft = document.createElement("td");
          var tdright = document.createElement("td");
          var input = document.createElement("input");
          var buttonsave = document.createElement("button");
          var buttoncancel = document.createElement("button");
          input.classList.add(
            "border",
            "focus:outline-none",
            "border-gray-500",
            "py-1.5",
            "px-3",
            "rounded-xl"
          );

          buttonsave.classList.add(
            "bg-green-200",
            "hover:bg-green-300",
            "text-black",
            "text-xs",
            "font-bold",
            "rounded",
            "inline-flex",
            "items-center",
            "justify-center",
            "w-7",
            "h-7"
          );
          buttoncancel.classList.add(
            "bg-gray-200",
            "hover:bg-gray-300",
            "text-black",
            "text-xs",
            "font-bold",
            "rounded",
            "inline-flex",
            "items-center",
            "justify-center",
            "w-7",
            "h-7"
          );
          buttonsave.innerHTML =
            '<img src="../../../save-solid.svg" class="w-2.5"></img>';
          buttoncancel.innerHTML =
            '<img src="../../../times-solid.svg" class="w-2.5"></img>';
          tdleft.appendChild(input);
          tdleft.classList.add("border-t", "border-gray-200", "px-5", "py-2");
          tdright.appendChild(buttonsave);
          tdright.appendChild(buttoncancel);
          tdright.classList.add(
            "p-5",
            "text-right",
            "space-x-2",
            "w-full",
            "text-right",
            "inline-flex",
            "items-end",
            "justify-end"
          );
          tr.appendChild(tdleft);
          tr.appendChild(tdright);
          tr.classList.add("border-t", "border-gray-200");
          document.getElementById("jabatan").appendChild(tr);
        },
      };
    }}
  />
  <>
    <div class="flex flex-col items-start justify-start bg-white shadow border rounded-2xl border-gray-200 w-3/4">
      <div class="flex self-stretch items-center justify-between bg-white shadow-inner p-5 rounded-2xl">
        <div class="flex flex-col items-start justify-start">
          <div class="flex items-center justify-start">
            <div class="text-lg font-bold text-black">Tambah Divisi</div>
          </div>
        </div>
      </div>
      <div class="w-full pb-5">
        <table class="w-full">
          <thead>
            <tr>
              <th class=" border-gray-200 px-5 py-2 text-left">Nama Divisi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-t border-gray-200 p-5">
                <input
                  type="text"
                  class="border focus:outline-none border-gray-500 py-1.5 px-3 rounded-xl"
                  id="input-divisi"
                  // value=""
                />
              </td>
              <td
                class="border-t border-gray-200 px-5 py-2 text-right"
                id="btn-save-divisi"
              >
                <div>
                  <button class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7">
                    <faicon iconName="save" class="" />
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="form_jabatan">
          <table class="w-full">
            <thead>
              <tr>
                <th class=" border-gray-200 px-5 py-2 text-left">
                  Nama Jabatan
                </th>
              </tr>
            </thead>
            <tbody id="jabatan">
              <tr>
                <td class="border-t border-gray-200 p-5">
                  <input
                    type="text"
                    class="border focus:outline-none border-gray-500 py-1.5 px-3 rounded-xl"
                    id="input-jabatan1"
                  />
                </td>
                <td class="border-t border-gray-200 px-5 py-2 text-right space-x-2">
                  <button class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7">
                    <faicon iconName="save" class="" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="flex flex-1 items-center justify-center flex-col space-y-6">
            <button
              class="bg-gray-300 text-white rounded-full w-8 h-8 hover:bg-gray-400"
              onClick={() => {
                meta.action.tambahJabatan();
              }}
            >
              <faicon iconName="plus" class="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </>
</>