<>
  <effect
    meta={{
      action: {},
      departemen: "",
      departemenState: false,
      jabatanState: true,
      id_departemen: "",
      jabatan: [],
      index: 0,
    }}
    run={async () => {
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-divisi")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-divisi")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
      // Get Departemen
      const getDepartemen = () => {
        api("/api/r-departemen").then((res) => {
          meta.departemen = res.departemen;
        });
      };

      meta.action = {
        cancel: (i) => {
          var myobj = document.getElementById("input" + i);
          meta.index -= 1;
          meta.jabatanState = false;
          myobj.remove();
        },
        tambahJabatan: () => {
          // Set jabatanState to true
          meta.jabatanState = true;

          var tr = document.createElement("tr");
          var tdleft = document.createElement("td");
          var tdright = document.createElement("td");
          var input = document.createElement("input");
          var buttonsave = document.createElement("button");
          var buttoncancel = document.createElement("button");
          var idInput = meta.index + 1;
          const id = meta.index;
          input.classList.add(
            "border",
            "focus:outline-none",
            "focus:border-indigo-900",
            "border-gray-300",
            "py-1.5",
            "px-3",
            "rounded",
            "w-96",
            "text-md"
          );

          buttonsave.classList.add(
            "bg-green-200",
            "hover:bg-green-300",
            "text-black",
            "text-xs",
            "font-bold",
            "rounded",
            "inline-flex",
            "items-center",
            "justify-center",
            "w-7",
            "h-7"
          );
          buttoncancel.classList.add(
            "bg-gray-200",
            "hover:bg-gray-300",
            "text-black",
            "text-xs",
            "font-bold",
            "rounded",
            "inline-flex",
            "items-center",
            "justify-center",
            "w-7",
            "h-7"
          );
          input.setAttribute("placeholder", "Masukkan jabatan ke " + idInput);
          input.setAttribute("id", "input-jabatan" + meta.index);
          buttonsave.innerHTML =
            '<img src="../../../save-solid.svg" class="w-2.5"></img>';
          buttoncancel.innerHTML =
            '<img src="../../../times-solid.svg" class="w-2.5"></img>';
          buttonsave.setAttribute("id", "save-button" + id);
          buttonsave.onclick = () => {
            if (document.getElementById("input-jabatan" + id).value == "") {
              console.log("error");
            } else {
              meta.action.submitJabatan(id);
            }
          };
          buttoncancel.setAttribute("id", "cancel-button" + id);
          buttoncancel.onclick = function () {
            meta.action.cancel(id);
          };
          input.onchange = (e) => {
            meta.action.setJabatan(id, e);
          };
          tdleft.appendChild(input);
          tdright.appendChild(buttonsave);
          tdright.appendChild(buttoncancel);
          tdright.classList.add(
            "text-right",
            "space-x-2",
            "w-full",
            "py-3.5",
            "text-right",
            "inline-flex",
            "items-end",
            "justify-end"
          );
          tr.classList.add("py-3");
          tr.setAttribute("id", "input" + meta.index);
          tr.appendChild(tdleft);
          tr.appendChild(tdright);
          document.getElementById("jabatan").appendChild(tr);
        },
        setDepartemen: (e) => {
          meta.departemen = e.target.value;
        },
        submitDepartemen: () => {
          api("/api/c-departemen", { nama_departemen: meta.departemen }).then(
            (res) => {
              if (res.status == "success") {
                // Tambah id_departemen
                meta.id_departemen = res.id_departemen;
                meta.departemenState = true;
                document
                  .getElementById("form-jabatan")
                  .classList.toggle("hidden");
                document
                  .getElementById("button-save-divisi")
                  .classList.toggle("hidden");
                // Tambah form jabatan
                console.log(res.id_departemen);
              } else {
                console.log("error");
              }
            }
          );
        },
        submitJabatan: (index) => {
          if (document.getElementById("input-jabatan" + index).value !== "") {
            api("/api/c-jabatan", {
              id_departemen: meta.id_departemen.id_departemen,
              nama_jabatan: meta.jabatan[index].nama_jabatan,
            }).then((res) => {
              if (res.status == "success") {
                meta.jabatanState = false;

                // Hide save & cancel btn
                if (index == 0) {
                  document
                    .getElementById("save-button" + index)
                    .classList.toggle("hidden");
                } else {
                  document
                    .getElementById("cancel-button" + index)
                    .classList.toggle("hidden");
                  document
                    .getElementById("save-button" + index)
                    .classList.toggle("hidden");
                }
                document
                  .getElementById("input-jabatan" + index)
                  .setAttribute("disabled", "disabled");
              } else {
                console.log("error");
              }
            });
          } else {
            console.log("error submit");
          }
        },
        setJabatan: (index, e) => {
          meta.jabatan[index] = {
            index: index,
            nama_jabatan: e.target.value,
          };
          console.log(meta.jabatan[index].nama_jabatan);
        },
      };
      document.getElementById("form-jabatan").classList.toggle("hidden");
    }}
  />
  <>
    <a class="text-xl font-bold">Tambah Divisi</a>
    <nav class="font-sans w-full mb-6 mt-2">
      <ol class="list-reset flex text-grey-dark text-xs">
        <li>
          <a href="#" class="font-bold">
            Karyawan
          </a>
        </li>
        <li>
          <span class="mx-2">></span>
        </li>
        <li>
          <a href="#" class="font-bold">
            Divisi
          </a>
        </li>
        <li>
          <span class="mx-2">></span>
          It is recommended not to make any process of uploading or downloading
          files or make use of any device associated with the optical terminal.
        </li>
        <li>
          <li>Tambah Divisi</li>
        </li>
      </ol>
    </nav>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-md rounded w-3/4 p-8">
      {/*<div class="flex self-stretch items-center justify-between bg-white shadow-inner p-5 rounded-2xl">*/}
      {/*<div class="flex flex-col items-start justify-start">*/}
      {/*<div class="flex items-center justify-start">*/}
      {/*<div class="text-lg font-bold text-black">Tambah Divisi</div>*/}
      {/*</div>*/}
      {/*</div>*/}
      {/*</div>*/}
      <div class="w-full">
        <form
          onSubmit={(e) => {
            meta.action.submitDepartemen();
            e.preventDefault();
          }}
        >
          <table class="w-full">
            <thead>
              <tr>
                <th class="text-left text-sm font-normal">Nama Divisi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-2">
                  <input
                    type="text"
                    placeholder="Masukkan Divisi"
                    class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-96 text-md"
                    id="input-divisi"
                    onChange={(e) => meta.action.setDepartemen(e)}
                    required
                    disabled={meta.departemenState}
                  />
                </td>
                <td class="py-2 text-right space-x-2" id="btn-save-divisi">
                  <div>
                    <button
                      class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7"
                      type="submit"
                      id="button-save-divisi"
                    >
                      <faicon iconName="save" class="" />
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

        <div id="form-jabatan">
          <table class="w-full mt-5">
            <thead>
              <tr>
                <th class="text-left text-sm font-normal">Nama Jabatan</th>
              </tr>
            </thead>
            <tbody id="jabatan">
              <tr>
                <td class="py-2">
                  <input
                    type="text"
                    placeholder="Masukkan jabatan ke 1"
                    class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-96 text-md"
                    id="input-jabatan0"
                    required
                    onChange={(e) => meta.action.setJabatan(0, e)}
                  />
                </td>
                <td class="py-2 text-right space-x-2">
                  <button
                    class="bg-green-200 hover:bg-green-300 text-black text-xs font-bold rounded inline-flex items-center justify-center w-7 h-7"
                    onClick={() => meta.action.submitJabatan(0)}
                    id="save-button0"
                  >
                    <faicon iconName="save" class="" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="mt-1">
            <button
              class="bg-gray-200 hover:bg-gray-300 text-gray-900 text-xs font-medium py-1 px-2 rounded inline-flex items-center"
              type="button"
              onClick={() => {
                meta.index++;
                meta.action.tambahJabatan();
              }}
              disabled={meta.jabatanState}
            >
              <faicon iconName="Plus" class="mr-2" />
              <span>Tambah Jabatan</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </>
</>