<>
  <effect
    meta={{
      action: {},
      departemenData: [],
      jabatanData: [],
      departemen: "#",
      jabatan: "#",
      isJabatanDisabled: true,
      isSubmitDisabled: true,
      nama: "",
      noHP: "",
      email: "",
    }}
    run={async () => {
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-data-karyawan")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-data-karyawan")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      // Get Departemen
      const getDepartemen = () => {
        api("/api/r-departemen").then((res) => {
          meta.departemenData = res.departemen;
        });
      };
      getDepartemen();

      meta.action = {
        setDepartemen: (e) => {
          meta.departemen = e.target.value;
          if (meta.departemen !== "#") {
            api("/api/r-jabatan", {
              id_departemen: parseInt(meta.departemen),
            }).then((res) => {
              meta.jabatanData = res.jabatan;
              meta.isJabatanDisabled = false;
            });
          } else {
            meta.jabatan = "#";
            meta.isJabatanDisabled = true;
            meta.jabatanData = [];
          }
        },
        setJabatan: (e) => {
          meta.jabatan = e.target.value;
          if (meta.jabatan !== "#") {
            meta.isSubmitDisabled = false;
          } else {
            meta.isSubmitDisabled = true;
          }
        },
        addUser: () => {
          api("/api/c-karyawan", {
            nama_pengguna: meta.nama,
            email: meta.email,
            nomor_hp: meta.noHP,
            id_jabatan: parseInt(meta.jabatan),
          }).then((res) => {
            if (res.status == "success") {
              navigate("/admin/data-karyawan");
            } else {
              console.log("Error");
            }
          });
        },
        setNama: (e) => {
          meta.nama = e.target.value;
        },
        setEmail: (e) => {
          meta.email = e.target.value;
        },
        setNoHP: (e) => {
          meta.noHP = e.target.value;
        },
      };
    }}
  />
  <>
    <a class="text-xl font-bold">Tambah Karyawan</a>
    <nav class="font-sans w-full mb-7 mt-2">
      <ol class="list-reset flex text-grey-dark text-xs space-x-3">
        <li>
          <a href="#">Karyawan</a>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <a href="#">Data Karyawan</a>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <li>Tambah Karyawan</li>
        </li>
      </ol>
    </nav>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-full p-8">
      <form
        // method={method}
        // action={actionn}
        class="w-full"
        onSubmit={(e) => {
          meta.action.addUser();
          e.preventDefault();
        }}
      >
        <div class="flex items-start justify-center w-full space-x-10">
          <div class="flex flex-col space-y-5 items-start justify-start w-full">
            <div class="flex flex-col space-y-2 items-start justify-center w-full">
              <div class="text-sm font-bold text-black">Nama Karyawan</div>
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                onChange={(e) => meta.action.setNama(e)}
                required
                value={meta.nama}
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">No.Hp</div>
              <input
                type="number"
                class={`border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md`}
                required
                value={meta.noHP}
                onChange={(e) => meta.action.setNoHP(e)}
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Email</div>
              <input
                type="email"
                class={`border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md`}
                required
                value={meta.email}
                onChange={(e) => meta.action.setEmail(e)}
              />
            </div>
          </div>
          <div class="flex flex-col space-y-5 items-start justify-start w-full">
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Divisi Karyawan</div>
              <div class="relative inline-block w-full text-gray-700">
                <select
                  class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md appearance-none"
                  placeholder="Regular input"
                  value={meta.departemen}
                  onChange={(e) => meta.action.setDepartemen(e)}
                >
                  <option value="#">----------</option>
                  {meta.departemenData.map((val) => (
                    <option value={val.id_departemen} key={val.id_departemen}>
                      {val.nama_departemen}
                    </option>
                  ))}
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                  <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                    <path
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clipRule="evenodd"
                      fillRule="evenodd"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Jabatan Karyawan</div>
              <div class="relative inline-block w-full text-gray-700">
                <select
                  class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md appearance-none"
                  placeholder="Regular input"
                  disabled={meta.isJabatanDisabled}
                  value={meta.jabatan}
                  onChange={(e) => {
                    meta.action.setJabatan(e);
                  }}
                >
                  <option value="#">----------</option>
                  {meta.jabatanData.map((val) => (
                    <option value={val.id_jabatan} key={val.id_jabatan}>
                      {val.nama_jabatan}
                    </option>
                  ))}
                </select>
                <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                  <svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                    <path
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clipRule="evenodd"
                      fillRule="evenodd"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <button
            type="submit"
            disabled={meta.isSubmitDisabled}
            class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold mt-6 py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
          >
            <span>Submit</span>
          </button>
        </div>
      </form>
    </div>
  </>
</>