<>
  <effect
    meta={{
      action: {},
    }}
    run={async () => {
      if (location.pathname === "/data-karyawan") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-500");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("text-data-karyawan")
          .classList.toggle("text-indigo-500");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      const accordion = () => {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }
      };
      accordion();
      meta.action = {
        tambah: () => {
          runInAction(() => {
            document.getElementById("modal-id").classList.toggle("hidden");
            document
              .getElementById("modal-id-backdrop")
              .classList.toggle("hidden");
          });
        },
      };
    }}
  />
  <>
    <div class="flex self-stretch flex-col items-start justify-start">
      <navbar
        class={`flex self-stretch space-x-2.5 items-center justify-start py-2.5 pl-5 pr-8 bg-indigo-900 shadow`}
      />
    </div>
    <div
      class={`flex flex-1 self-stretch items-center justify-center bg-white z-10`}
    >
      <div class={`flex self-stretch flex-col items-center justify-center`}>
        <sidebar
          class={`flex flex-1 self-stretch items-start justify-start rounded-2xl`}
        />
      </div>
      <div
        class={`flex flex-1 self-stretch flex-col items-center justify-start pt-8 bg-white`}
      >
        <button
          class={`flex space-x-2.5 items-center justify-center px-4 py-2 bg-indigo-900 shadow rounded-lg hover:bg-indigo-800`}
          onClick={() => {
            meta.action.tambah();
          }}
        >
          <div class="flex self-stretch items-center justify-center">
            <div class="text-2xl font-semibold text-center text-white">+</div>
          </div>
          <div class="flex flex-1 self-stretch flex-col items-center justify-center rounded-tl-lg rounded-tr-lg">
            <div class="text-sm font-bold text-center text-white">
              Tambah Karyawan
            </div>
          </div>
        </button>
        <div class="p-10 w-full filter drop-shadow-lg">
          <datatable
            title={"Data Karyawan"}
            column={[
              {
                name: "No",
                selector: "no",
                sortable: true,
              },
              {
                name: "Nama Karyawan",
                selector: "nama",
                sortable: true,
              },
              {
                name: "No.Hp",
                selector: "hp",
                sortable: true,
              },
              {
                name: "Email",
                selector: "email",
                sortable: true,
              },
              {
                name: "Divisi",
                selector: "divisi",
                sortable: true,
              },
              {
                name: "Jabatan",
                selector: "jabatan",
                sortable: true,
              },
            ]}
            data={[
              {
                no: 1,
                nama: "Bejo",
                hp: "09809128391",
                email: "bejo@gmail.com",
                divisi: "Divisi IT",
                jabatan: "Developer",
              },
            ]}
          />
        </div>
      </div>
    </div>
    <div
      class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
      id="modal-id"
    >
      <div class="relative w-auto my-6 mx-auto max-w-xl">
        <div class="flex justify-end">
          <button
            class="rounded-full h-16 w-24 flex items-center justify-center bg-white absolute top-0 right-0"
            onClick={() => {
              meta.action.tambah();
            }}
          >
            <h1 class="font-bold">X</h1>
          </button>
        </div>
        {/*start modal*/}
        <div
          class={`flex flex-col space-y-10 items-center justify-center px-16 py-10 bg-white shadow rounded-2xl`}
        >
          <div class="text-lg font-semibold text-center text-indigo-500">
            Tambah Akun Karyawan
          </div>
          <div class="flex flex-col space-y-8 items-center justify-center p-6 bg-white border rounded-lg border-indigo-200">
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
              <div class="text-base font-medium text-indigo-500">Nama</div>
              <input
                type="text"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
              <div class="text-base font-medium text-indigo-500">No.Hp</div>
              <input
                type="number"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
              <div class="text-base font-medium text-indigo-500">Email</div>
              <input
                type="email"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg min-width-full">
              <div class="text-base font-medium text-indigo-500">
                Divisi Karyawan
              </div>
              <input
                type="text"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
              <div class="text-base font-medium text-indigo-500">
                Jabatan Karyawan
              </div>
              <input
                type="text"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <button
              class={`flex flex-col items-center justify-center px-6 py-1 bg-indigo-500 rounded-lg rounded-xl hover:bg-indigo-900`}
            >
              <div class="flex self-stretch items-center justify-center">
                <div class="text-lg font-semibold text-center text-white">
                  Buat Akun
                </div>
              </div>
            </button>
          </div>
        </div>
        {/*end modal*/}
      </div>
    </div>
    <div
      class="hidden opacity-25 fixed inset-0 z-40 bg-black"
      id="modal-id-backdrop"
    ></div>
  </>
</>