<>
  <effect
    meta={{
      action: {},
      datakaryawan: [],
    }}
    run={async () => {
      if (location.pathname === "/data-karyawan") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-500");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("text-data-karyawan")
          .classList.toggle("text-indigo-500");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      const accordion = () => {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }
      };
      accordion();
      const datakaryawan = () => {
        api("/api/r-karyawan", {}).then((res) => {
          meta.datakaryawan = res.karyawan[0].nama_pengguna;
          console.log(meta.datakaryawan);
        });
      };
      datakaryawan();
      meta.action = {
        tambah: () => {
          runInAction(() => {
            document.getElementById("modal-id").classList.toggle("hidden");
            document
              .getElementById("modal-id-backdrop")
              .classList.toggle("hidden");
          });
        },
        read: () => {
          onChange: (pengguna) => {
            runInAction(() => {
              meta.id_pengguna = pengguna.target.value;
              meta.nama_pengguna = pengguna.target.value;
              meta.nomor_hp = pengguna.target.value;
              meta.jabatan = pengguna.target.value;
              meta.divisi = pengguna.target.value;
            });
          };
        },
      };
    }}
    // lihatdata={async () => {
    //   meta.action = {
    //     lihat: () => {
    //       runInAction(() =>{
    //         db.pengguna.findMany().then();
    //          // console.log("res");

    //       );
    //     },
    //   };
    // }}
  />
  <>
    <div class="flex self-stretch flex-col items-start justify-start">
      <navbar
        class={`flex self-stretch space-x-2.5 items-center justify-start py-2.5 pl-5 pr-8 bg-indigo-900 shadow`}
      />
    </div>
    <div
      class={`flex flex-1 self-stretch items-center justify-center bg-white z-10`}
    >
      <div class={`flex self-stretch flex-col items-center justify-center`}>
        <sidebar
          class={`flex flex-1 self-stretch items-start justify-start rounded-2xl`}
        />
      </div>
      <div
        class={`flex flex-1 self-stretch flex-col items-center justify-start pt-8 bg-white`}
      >
        <button
          class={`flex space-x-2.5 items-center justify-center px-4 py-2 bg-indigo-900 shadow rounded-lg hover:bg-indigo-800`}
          onClick={() => {
            meta.action.tambah();
          }}
        >
          <div class="flex self-stretch items-center justify-center">
            <div class="text-2xl font-semibold text-center text-white">+</div>
          </div>
          <div class="flex flex-1 self-stretch flex-col items-center justify-center rounded-tl-lg rounded-tr-lg">
            <div class="text-sm font-bold text-center text-white">
              Tambah Karyawan
            </div>
          </div>
        </button>
        <div class="p-10 w-full filter drop-shadow-lg">
          {/*<div*/}
          {/*class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"*/}
          {/*role="alert"*/}
          {/*>*/}
          {/*<strong class="font-bold">*/}
          {/*Data Karyawan Baru Berhasil Ditambah*/}
          {/*</strong>*/}
          {/*<span class="absolute top-0 bottom-0 right-0 px-4 py-3">*/}
          {/*<svg*/}
          {/*class="fill-current h-6 w-6 text-green-500"*/}
          {/*role="button"*/}
          {/*xmlns="http://www.w3.org/2000/svg"*/}
          {/*viewBox="0 0 20 20"*/}
          {/*>*/}
          {/*<title>Close</title>*/}
          {/*<path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />*/}
          {/*</svg>*/}
          {/*</span>*/}
          {/*</div>*/}

          {/*<div*/}
          {/*class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"*/}
          {/*role="alert"*/}
          {/*>*/}
          {/*<strong class="font-bold">Data Karyawan Baru Gagal Ditambah</strong>*/}
          {/*<span class="absolute top-0 bottom-0 right-0 px-4 py-3">*/}
          {/*<svg*/}
          {/*class="fill-current h-6 w-6 text-red-500"*/}
          {/*role="button"*/}
          {/*xmlns="http://www.w3.org/2000/svg"*/}
          {/*viewBox="0 0 20 20"*/}
          {/*>*/}
          {/*<title>Close</title>*/}
          {/*<path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />*/}
          {/*</svg>*/}
          {/*</span>*/}
          {/*</div>*/}
          <datatable
            title={"Data Karyawan"}
            column={[
              {
                name: "No",
                selector: "no",
                sortable: true,
              },
              {
                name: "Nama Karyawan",
                selector: "nama",
                sortable: true,
                // const user = await prisma.user({ nama }),
              },
              {
                name: "No.Hp",
                selector: "hp",
                sortable: true,
              },
              {
                name: "Email",
                selector: "email",
                sortable: true,
              },
              {
                name: "Divisi",
                selector: "divisi",
                sortable: true,
              },
              {
                name: "Jabatan",
                selector: "jabatan",
                sortable: true,
              },
            ]}
            data={[
              {
                //nama: { nama },
                // no: 1,
                // nama: "Bejo",
                // hp: "09809128391",
                // email: "bejo@gmail.com",
                // divisi: "Divisi IT",
                // jabatan: "Developer",
              },
            ]}
          />
        </div>
      </div>
    </div>
    <div
      class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
      id="modal-id"
    >
      <div class="relative w-auto my-6 mx-auto max-w-xl">
        <div class="flex justify-end">
          <button
            class="rounded-full h-16 w-24 flex items-center justify-center bg-white absolute top-0 right-0"
            onClick={() => {
              meta.action.tambah();
            }}
          >
            <h1 class="font-bold">X</h1>
          </button>
        </div>
        {/*start modal*/}
        <div
          class={`flex flex-col space-y-10 items-center justify-center px-16 py-10 bg-white shadow rounded-2xl`}
        >
          <div class="text-lg font-semibold text-center text-indigo-500">
            Tambah Akun Karyawan
          </div>
          <div class="flex flex-col space-y-8 items-center justify-center p-6 bg-white border rounded-lg border-indigo-200">
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
              <div class="text-base font-medium text-indigo-500">Nama</div>
              <input
                type="text"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
              <div class="text-base font-medium text-indigo-500">No.Hp</div>
              <input
                type="number"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
              <div class="text-base font-medium text-indigo-500">Email</div>
              <input
                type="email"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg min-width-full">
              <div class="text-base font-medium text-indigo-500">
                Divisi Karyawan
              </div>
              <input
                type="text"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <div class="flex flex-col space-y-1 items-start justify-center px-6 rounded-lg">
              <div class="text-base font-medium text-indigo-500">
                Jabatan Karyawan
              </div>
              <input
                type="text"
                class={`border-2 border-indigo-300 py-1.5 px-3 rounded-xl`}
              />
            </div>
            <button
              class={`flex flex-col items-center justify-center px-6 py-1 bg-indigo-500 rounded-lg rounded-xl hover:bg-indigo-900`}
            >
              <div class="flex self-stretch items-center justify-center">
                <div class="text-lg font-semibold text-center text-white">
                  Buat Akun
                </div>
              </div>
            </button>
          </div>
        </div>
        {/*end modal*/}
      </div>
    </div>
    <div
      class="hidden opacity-25 fixed inset-0 z-40 bg-black"
      id="modal-id-backdrop"
    ></div>
  </>
</>