<>
  <effect
    meta={{
      action: {},
      datakaryawan: "",
    }}
    run={async () => {
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-data-karyawan")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-data-karyawan")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      const datakaryawan = async () => {
        api("/api/r-karyawan", {}).then((res) => {
          meta.datakaryawan = res.karyawan;
          console.log(meta.datakaryawan);
        });
      };
      datakaryawan();
      meta.action = {
        read: () => {
          onChange: (pengguna) => {
            runInAction(() => {
              meta.id_pengguna = pengguna.target.value;
              meta.nama_pengguna = pengguna.target.value;
              meta.nomor_hp = pengguna.target.value;
              meta.jabatan = pengguna.target.value;
              meta.divisi = pengguna.target.value;
              meta.status_pengguna = pengguna.target.value;
            });
          };
        },
      };
    }}
    // lihatdata={async () => {
    //   meta.action = {
    //     lihat: () => {
    //       runInAction(() =>{
    //         db.pengguna.findMany().then();
    //          // console.log("res");

    //       );
    //     },
    //   };
    // }}
  />
  <>
    <button
      class="bg-indigo-900 hover:bg-indigo-800 text-white text-sm font-bold py-2 px-4 rounded-lg inline-flex items-center filter drop-shadow-md"
      onClick={() => {
        navigate("/admin/data-karyawan/tambah");
      }}
    >
      <faicon iconName="Plus" class="mr-3" />
      <span>Tambah Karyawan</span>
    </button>
    <div class="py-5 w-full filter drop-shadow-md">
      {/*<div*/}
      {/*class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"*/}
      {/*role="alert"*/}
      {/*>*/}
      {/*<strong class="font-bold">*/}
      {/*Data Karyawan Baru Berhasil Ditambah*/}
      {/*</strong>*/}
      {/*<span class="absolute top-0 bottom-0 right-0 px-4 py-3">*/}
      {/*<svg*/}
      {/*class="fill-current h-6 w-6 text-green-500"*/}
      {/*role="button"*/}
      {/*xmlns="http://www.w3.org/2000/svg"*/}
      {/*viewBox="0 0 20 20"*/}
      {/*>*/}
      {/*<title>Close</title>*/}
      {/*<path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />*/}
      {/*</svg>*/}
      {/*</span>*/}
      {/*</div>*/}

      {/*<div*/}
      {/*class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"*/}
      {/*role="alert"*/}
      {/*>*/}
      {/*<strong class="font-bold">Data Karyawan Baru Gagal Ditambah</strong>*/}
      {/*<span class="absolute top-0 bottom-0 right-0 px-4 py-3">*/}
      {/*<svg*/}
      {/*class="fill-current h-6 w-6 text-red-500"*/}
      {/*role="button"*/}
      {/*xmlns="http://www.w3.org/2000/svg"*/}
      {/*viewBox="0 0 20 20"*/}
      {/*>*/}
      {/*<title>Close</title>*/}
      {/*<path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />*/}
      {/*</svg>*/}
      {/*</span>*/}
      {/*</div>*/}
      <datatable
        title={"Data Karyawan"}
        column={[
          {
            name: "No",
            selector: (row, index) => ++index,
            sortable: true,
          },
          {
            name: "Nama Karyawan",
            selector: "nama_pengguna",
            sortable: true,
            // const user = await prisma.user({ nama }),
          },
          {
            name: "No.Hp",
            selector: "nomor_hp",
            sortable: true,
          },
          {
            name: "Email",
            selector: "email",
            sortable: true,
          },
          {
            name: "Divisi",
            selector: "jabatan.departemen.nama_departemen",
            sortable: true,
          },
          {
            name: "Jabatan",
            selector: "jabatan.nama_jabatan",
            sortable: true,
          },
          {
            name: "Status Pengguna",
            sortable: true,
            button: true,
            cell: (row, index) => (
              <>
                <div class="relative inline-block w-10 align-middle select-none transition duration-700 ease-in">
                  <input
                    type="checkbox"
                    name={"toggle" + index}
                    id={"toggle" + index}
                    class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
                    onClick={() => {
                      // Alert confirmation
                      const conf = confirm("Are you sure?");
                      let btn = document.getElementById("toggle" + index);

                      // If confirmed
                      if (conf) {
                        // Call API
                        api("/api/toggle-karyawan", {
                          id_pengguna: meta.datakaryawan[index].id_pengguna,
                        }).then((res) => {
                          // If response success, button will change to different side
                          if (res.status === "error") {
                            btn.checked = !btn.checked;
                          } else {
                            console.log("success");
                          }
                        });
                      } else {
                        btn.checked = !btn.checked;
                      }
                    }}
                    defaultChecked={
                      // Default checked checkbox
                      meta.datakaryawan[index].status_pengguna == "active"
                        ? true
                        : false
                    }
                  />
                  <label
                    for={"toggle" + index}
                    class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
                  ></label>
                </div>
              </>
            ),
          },
          {
            name: "Action",
            button: true,
            cell: (row, index) => (
              <>
                <div class="space-x-2">
                  <button
                    class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold py-1 px-2 rounded inline-flex items-center"
                    onClick={() => {
                      navigate(
                        "/admin/data-karyawan/detail?id=" +
                          meta.datakaryawan[index].id_pengguna
                      );
                    }}
                  >
                    <faicon iconName="show" class="" />
                  </button>
                  <button
                    class="bg-red-200 hover:bg-red-300 text-black text-xs font-bold py-1 px-2 rounded inline-flex items-center"
                    onClick={() => {
                      const conf = confirm("Are you sure?");
                      if (conf) {
                        api("/api/d-karyawan", {
                          id_pengguna: meta.datakaryawan[index].id_pengguna,
                        }).then((res) => {
                          if (res.status == "success") {
                            console.log("Success");
                          } else {
                            console.log("error");
                          }
                        });
                      } else {
                        console.log("cancel");
                      }
                    }}
                  >
                    <faicon iconName="delete" class="" />
                  </button>
                </div>
              </>
            ),
          },
        ]}
        data={meta.datakaryawan}
      />
    </div>
  </>
</>