<>
  <effect
    meta={{
      perizinan: [
        {
          jenis_perizinan: "",
          tgl_mulai: "",
          tgl_akhir: "",
          keterangan: "",
          id_pengguna: "",
          nama_pengguna: "",
          id_pengajuan: 1,
          pengajuan: "",
        },
      ],
      action: {},
    }}
    run={async () => {
      const getData = () => {
        api("/api/r-detail-perizinan", {
          id_perizinan: parseInt(params.id),
        }).then((res) => {
          meta.perizinan = res.perizinan;
          meta.perizinan[0].jenis_perizinan =
            meta.perizinan[0].jenis_perizinan.charAt(0).toUpperCase() +
            meta.perizinan[0].jenis_perizinan.slice(1);

          // Menghilangkan button jika perizinan sudah diberikan jawaban
          if (meta.perizinan[0].id_pengajuan != 1) {
            document.getElementById("btn-answer").innerHTML = "";
          }
        });
      };
      getData();
      if (document.readyState === "complete") {
        document.getElementById("presensi").classList.toggle("bg-indigo-900");
        document
          .getElementById("presensi")
          .classList.remove("hover:bg-gray-200");
        document.getElementById("presensi").classList.toggle("active");
        document.getElementById("text-presensi").classList.toggle("text-white");
        document
          .getElementById("btn-list-perizinan")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-list-perizinan")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("presensi").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
      meta.action = {
        terimaPerizinan: () => {
          api("/api/terima-perizinan", { id_perizinan: params.id }).then(
            (res) => {
              if (res.status == "success") {
                getData();
              } else {
                console.log("error");
              }
            }
          );
        },
        tolakPerizinan: () => {
          api("/api/tolak-perizinan", { id_perizinan: params.id }).then(
            (res) => {
              if (res.status == "success") {
                getData();
              } else {
                console.log("error");
              }
            }
          );
        },
      };
    }}
  />
  <>
    <div class="flex items-center space-x-4">
      <div>
        <button
          type="submit"
          class="bg-white hover:border-gray-200 border-2 border-transparent duration-300 text-black text-sm font-bold rounded-full flex items-center filter drop-shadow-sm justify-center w-8 h-8"
          onClick={() => {
            history.back();
          }}
        >
          <span>
            <faicon iconName="arrowLeft" />
          </span>
        </button>
      </div>
      <div>
        <span class="text-xl font-bold">Detail Perizinan</span>
        <nav class="font-normal text-gray-500 w-full mt-2">
          <ol class="list-reset flex text-xs space-x-3">
            <li>Presensi</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>List Perizinan</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>
              <li>Detail Perizinan</li>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-full p-8 mt-7">
      <form class="w-1/2">
        <div class="flex items-start justify-center w-full space-x-10">
          <div class="flex flex-col space-y-5 items-start justify-start w-full">
            <div class="flex flex-col space-y-2 items-start justify-center w-full">
              <div class="text-sm font-bold text-black">Nama Karyawan</div>
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                readOnly
                defaultValue={meta.perizinan[0].nama_pengguna}
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">ID Karyawan</div>
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                readOnly
                defaultValue={meta.perizinan[0].id_pengguna}
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Jenis Izin</div>
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                readOnly
                defaultValue={meta.perizinan[0].jenis_perizinan}
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Keterangan Izin</div>
              <textarea
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                readOnly
                defaultValue={meta.perizinan[0].keterangan}
              />
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">
                Tanggal Yang Diajukan
              </div>
              <div class="flex space-x-2">
                <input
                  type="text"
                  class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                  readOnly
                  defaultValue={meta.perizinan[0].tgl_mulai}
                />
                <span class="justify-center flex items-center">-</span>
                <input
                  type="text"
                  class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                  readOnly
                  defaultValue={meta.perizinan[0].tgl_akhir}
                />
              </div>
            </div>
            <div class="flex flex-col space-y-2 items-start justify-center rounded-lg w-full">
              <div class="text-sm font-bold text-black">Status Pengajuan</div>
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md"
                readOnly
                defaultValue={meta.perizinan[0].pengajuan}
              />
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center space-x-2" id="btn-answer">
          <button
            type="button"
            class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold mt-6 py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
            onClick={() => {
              const conf = confirm("Are you sure?");
              if (conf) {
                meta.action.terimaPerizinan();
              }
            }}
          >
            <span>Terima</span>
          </button>
          <button
            type="button"
            class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold mt-6 py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
            onClick={() => {
              const conf = confirm("Are you sure?");
              if (conf) {
                meta.action.tolakPerizinan();
              }
            }}
          >
            <span>Tolak</span>
          </button>
          {/*<button*/}
          {/*type="submit"*/}
          {/*class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold mt-6 py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"*/}
          {/*>*/}
          {/*<span>Abaikan</span>*/}
          {/*</button>*/}
        </div>
      </form>
    </div>
  </>
</>