<>
  <effect
    meta={{
      params: [],
      addParam: {
        nama_parameter: "",
        pendapatan: "",
      },
      action: {},
    }}
    run={async () => {
      const getParams = () => {
        api("/api/r-prm-penggajian").then((res) => {
          meta.params = res.params;
          console.log(res.params);
        });
      };
      getParams();
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document
          .getElementById("karyawan")
          .classList.remove("hover:bg-gray-200");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-parameter")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-parameter")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      var modal = document.getElementById("modal");
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };

      meta.action = {
        setNamaParam: (e) => {
          meta.addParam.nama_parameter = e.target.value;
        },
        setPendapatan: (e) => {
          meta.addParam.pendapatan = e.target.value;
        },
        submitParameter: () => {
          api("/api/c-prm-penggajian", {
            nama_parameter: meta.addParam.nama_parameter,
            pendapatan: meta.addParam.pendapatan,
          }).then((res) => {
            console.log(res.status);
            getParams();

            // Reset input form
            document.getElementById("nama_parameter").value = "";
            document.getElementById("pendapatan").value = "";
          });
        },
      };
    }}
  />
  <>
    <a class="text-xl font-bold">Parameter Penggajian</a>
    <nav class="font-sans w-full mb-7 mt-2">
      <ol class="list-reset flex text-grey-dark text-xs space-x-3">
        <li>
          <a href="#">Karyawan</a>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <li>Parameter Penggajian</li>
        </li>
      </ol>
    </nav>
    <div class={`flex self-stretch items-center justify-start`}>
      <div class="flex flex-1 justify-start space-x-2">
        <button
          class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-md"
          onClick={() => {
            document.getElementById("modal").style.display = "block";
          }}
        >
          <faicon iconName="Plus" class="mr-3" />
          <span>Tambah Parameter</span>
        </button>

        <button
          class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-md"
          onClick={() => {
            navigate("/admin/parameter-penggajian/detail");
          }}
        >
          <span>Default Parameter</span>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-end">
        <input
          type="text"
          placeholder="Cari Data"
          class="border focus:outline-none focus:border-indigo-900 border-gray-200 py-1.5 px-3 rounded text-xs"
        />
      </div>
    </div>
    <div class="mt-2 w-full filter drop-shadow-sm bg-white p-3 rounded">
      <datatable
        pagination={true}
        column={[
          {
            name: "No",
            selector: (row, index) => ++index,
            sortable: true,
          },
          {
            name: "Nama Parameter",
            selector: (row) => row.nama_parameter,
            sortable: true,
          },
          {
            name: "Pendapatan",
            selector: (row) => row.pendapatan,
            sortable: true,
          },
          {
            name: "Action",
            button: true,
            cell: (row, index) => (
              <>
                <div class="space-x-2">
                  <button
                    class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                    onClick={() => {
                      navigate("/admin/parameter-penggajian/detail");
                    }}
                  >
                    <faicon iconName="show" class="" />
                  </button>
                  <button
                    class="bg-red-200 hover:bg-red-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                    onClick={() => {
                      console.log("S");
                    }}
                  >
                    <faicon iconName="delete" class="" />
                  </button>
                </div>
              </>
            ),
          },
        ]}
        data={meta.params}
      />
    </div>
    <div class="modal z-20" id="modal">
      <form
        class="modal-content w-max flex flex-col items-center justify-center"
        onSubmit={(e) => {
          meta.action.submitParameter();
          e.preventDefault();
        }}
      >
        <div class="flex flex-col bg-white rounded">
          <div class="flex items-end justify-end rounded">
            <button
              class="bg-gray-100 hover:bg-gray-200 text-black text-sm w-8 h-8 rounded inline-flex items-center justify-center"
              onClick={() => {
                document.getElementById("modal").style.display = "none";
              }}
              type="button"
            >
              <faicon iconName="cancel" class="" />
            </button>
          </div>
          <div class="space-y-5 px-14 pb-14 pt-6">
            <div class="space-y-2">
              <div class="text-left text-sm font-bold">Nama Parameter</div>
              <input
                type="text"
                placeholder="Masukkan nama parameter"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-96 text-md"
                id="nama_parameter"
                onChange={(e) => {
                  meta.action.setNamaParam(e);
                }}
                required
              />
            </div>
            <div class="space-y-2">
              <div class="text-left text-sm font-bold">Pendapatan</div>
              <input
                type="number"
                placeholder="Masukkan pendapatan"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-96 text-md"
                id="pendapatan"
                onChange={(e) => {
                  meta.action.setPendapatan(e);
                }}
                required
              />
            </div>
            <button
              type="submit"
              class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded items-center filter drop-shadow-sm justify-center w-full"
            >
              <span>Submit</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </>
</>