<div class="flex flex-1 self-stretch flex-col items-start justify-start bg-white rounded-2xl">
  <div class="flex flex-1 self-stretch items-center justify-center p-24 bg-indigo-600 rounded-2xl">
    <div class="flex flex-1 self-stretch space-x-2.5 items-center justify-center bg-white shadow border-2 rounded-2xl border-indigo-100">
      <div
        class="flex flex-1 self-stretch flex-col space-y-24 items-center justify-center p-8 rounded-tl-2xl rounded-bl-2xl"
        style="background-image: url('/fimgs/bg-638530deb7fed74f740e6e857a0ca12f1a553845');background-size:100% 100%;background-repeat:no-repeat;"
      >
        <div />
        <div class="flex items-center justify-start px-5">
          <img
            src="/fimgs/268_199.x3.png"
            style="width: 200px; min-width: 200px; max-width: 200px; height: 75.29px; min-height: 75.29px; max-height: 75.29px;background-image: url('/fimgs/bg-9b3bfae3f6d9b076a99172604d0c5a5622ad67df');background-size:100% 100%;background-repeat:no-repeat;"
          />
        </div>
        <div class="flex items-start justify-start py-0.5 rounded-2xl">
          <div class="text-2xl font-medium text-center text-gray-50">
            "You've got to make your team have value, inovation, and vision."
            <br />
            -Jack Ma
          </div>
        </div>
        <div />
      </div>
      <div class="flex flex-1 self-stretch flex-col space-y-8 items-center justify-center px-24 py-2.5 bg-white rounded-2xl">
        <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
          <div class="text-lg font-semibold text-center text-indigo-500">
            Username
          </div>
          <div />
        </div>
        <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
          <div class="text-lg font-semibold text-center text-indigo-500">
            Password
          </div>
          <div />
        </div>
        <div class="flex flex-col items-center justify-center bg-indigo-500 rounded-lg">
          <div class="flex self-stretch flex-col items-center justify-center px-14 py-1 bg-indigo-500">
            <div class="flex self-stretch items-center justify-center">
              <div class="text-lg font-semibold text-center text-white">
                Login
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>