<>
  <effect
    meta={{
      action: {},
    }}
    run={async () => {
      const accordion = () => {
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }
      };
      accordion();
      // const check = () => {
      //   // If user has not logged in
      //   if (
      //     window.user.role == "guest" ||
      //     window.user.role == 2 ||
      //     window.user.loggedIn == false ||
      //     window.user == null
      //   ) {
      //     //Navigate to login page
      //     navigate("/login");
      //   }
      // };
      // check();

      var modal_logout = document.getElementById("modal_logout");
      modal_logout.onclick = function () {
        modal_logout.style.display = "none";
      };

      meta.action = {
        hideSidebar: () => {
          document.getElementById("sidebar").classList.toggle("w-0");
        },
      };
    }}
  />
  <div class="flex flex-col items-start justify-start bg-white" style="">
    <div class={`flex flex-1 self-stretch justify-center bg-white z-10`}>
      <div
        id="sidebar"
        class="flex self-stretch flex-col items-center h-screen sticky top-0 overflow-y-auto"
      >
        <div class="lg:w-72 md:w-0 sm:w-0 lg:px-8 md:px-0 sm:px-0 h-full">
          <div class={`flex flex-1 self-stretch items-start justify-start`}>
            <div
              class={`flex flex-1 self-stretch flex-col space-y-3 items-start justify-start pb-8 lg:block md:hidden`}
            >
              <div class="flex space-x-2.5 items-center justify-center px-3 pt-8 pb-5">
                <img
                  src="/fimgs/849_13529.x3.png"
                  class="flex self-stretch flex-col items-start justify-start"
                  style="width: 30px; min-width: 30px; max-width: 30px; height: 28.40px; min-height: 28.40px; max-height: 28.40px;"
                />
                <img
                  src="/fimgs/849_13530.x1.svg"
                  class="flex flex-col items-start justify-start"
                  style="width: 72px; min-width: 72px; max-width: 72px; height: 27px; min-height: 27px; max-height: 27px;"
                />
              </div>
              <button
                class="w-full flex self-stretch flex-col items-start justify-center px-5 py-2.5 bg-gray-100 rounded hover:bg-gray-200 text-gray-800 transition duration-300"
                id="dashboard"
                onClick={() => {
                  navigate("/user/dashboard");
                }}
              >
                <div
                  class="text-sm font-bold flex flex-row w-full"
                  id="text-dashboard"
                >
                  <div class="w-8 text-left">
                    <faicon iconName="dashboard" />
                  </div>
                  <div>Dashboard</div>
                </div>
              </button>

              <div class="flex self-stretch flex-col items-start justify-center rounded">
                <button
                  class="collapsible flex self-stretch items-center justify-center px-5 py-2.5 bg-gray-100 rounded hover:bg-gray-200 text-gray-800 transition duration-300"
                  id="presensi"
                >
                  <div class="flex flex-1 self-stretch flex-col items-start justify-center">
                    <div
                      class="text-sm font-bold flex flex-row w-full"
                      id="text-presensi"
                    >
                      <div class="mr-4 text-left">
                        <faicon iconName="presensi" />
                      </div>
                      <div class="w-full flex items-start">Presensi</div>
                      <div class="flex">
                        <faicon iconName="ArrowDown" />
                      </div>
                    </div>
                  </div>
                </button>
                <div class="items-start justify-center pl-7 mr-10 content w-full">
                  <button
                    class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-6 hover:border-indigo-900 mt-3"
                    id="btn-list-kehadiran"
                    onClick={() => {
                      navigate("/user/list-kehadiran");
                    }}
                  >
                    <div class="text-sm font-semibold" id="text-list-kehadiran">
                      List Kehadiran
                    </div>
                  </button>
                  <button
                    class="w-full flex self-stretch flex-col items-start justify-center text-gray-600 hover:text-indigo-900 py-2 transition duration-300 border-l-2 border-gray-200 pl-6 hover:border-indigo-900"
                    id="btn-list-perizinan"
                    onClick={() => {
                      navigate("/user/list-perizinan");
                    }}
                  >
                    <div class="text-sm font-semibold" id="text-list-perizinan">
                      List Perizinan
                    </div>
                  </button>
                </div>
              </div>

              <button
                class="w-full flex self-stretch flex-col items-start justify-center px-5 py-2.5 bg-gray-100 rounded hover:bg-gray-200 text-gray-800 transition duration-300"
                id="gaji"
                onClick={() => {
                  navigate("/user/gaji");
                }}
              >
                <div
                  class="text-sm font-bold flex flex-row w-full"
                  id="text-gaji"
                >
                  <div class="w-8 text-left">
                    <faicon iconName="gaji" />
                  </div>
                  <div>Gaji</div>
                </div>
              </button>

              <button
                class="w-full flex self-stretch flex-col items-start justify-center px-5 py-2.5 bg-gray-100 rounded hover:bg-gray-200 text-gray-800 transition duration-300"
                onClick={() => {
                  document.getElementById("modal_logout").style.display =
                    "block";
                }}
              >
                <div class="text-sm font-bold flex flex-row w-full">
                  <div class="w-8 text-left">
                    <faicon iconName="logout" />
                  </div>
                  <div>Logout</div>
                </div>
              </button>
            </div>
          </div>
          {/*end of sidebar*/}
        </div>
      </div>
      <div class="flex flex-1 flex-col">
        <div class="sticky top-0 filter drop-shadow-sm z-10">
          {/*<navbar class="flex self-stretch space-x-2.5 items-center justify-start py-2.5 pl-5 pr-8 bg-indigo-900 shadow" />*/}
          <div class="flex self-stretch space-x-2.5 items-center justify-start py-2.5 pl-5 pr-8 bg-white">
            <div class="flex flex-1 items-center justify-start px-5 space-x-8">
              <button
                onClick={() => {
                  meta.action.hideSidebar();
                }}
              >
                <faicon iconName="toggleNav" class="text-indigo-900" />
              </button>
            </div>
            <div class="flex flex-1 space-x-6 items-center justify-end px-5">
              <button class="text-xs font-medium text-white py-1 px-3 rounded-xl bg-indigo-900">
                Halo, {window.user.name}
              </button>
            </div>
          </div>
        </div>
        <div
          class={`flex flex-1 self-stretch flex-col items-start justify-start p-10 bg-gray-100`}
        >
          {children}
        </div>
      </div>
    </div>
  </div>
  <div class="modal z-20" id="modal_logout">
    <form class="modal-content w-max flex items-center justify-center">
      <div class="flex flex-col bg-white p-14 space-y-10 rounded">
        <div class="font-bold">Apakah yakin ingin keluar?</div>
        <div class="flex flex-row w-full text-sm">
          <button
            class="w-full bg-indigo-900 mx-5 p-1 rounded text-white font-bold hover:bg-indigo-800"
            type="button"
            onClick={() => {
              window.user = null;
              navigate("/login");
            }}
          >
            Ya
          </button>
          <button
            class="w-full bg-gray-200 mx-5 p-1 rounded font-bold hover:bg-gray-300"
            type="button"
            onClick={() => {
              document.getElementById("modal_logout").style.display = "none";
            }}
          >
            Batal
          </button>
        </div>
      </div>
    </form>
  </div>
</>