<>
  <effect
    meta={{
      gaji: [],
      years: [],
      year_now: "",
      action: {},
    }}
    run={async () => {
      const getData = () => {
        api("/api/user/gaji", { id_pengguna: user.id_pengguna }).then((res) => {
          meta.gaji = res.gaji;
          meta.years = res.years;
          meta.year_now = res.year_now;
        });
      };
      const refreshData = (year) => {
        api("/api/user/gaji", {
          year: year,
          id_pengguna: user.id_pengguna,
        }).then((res) => {
          meta.gaji = res.gaji;
          meta.years = res.years;
          meta.year_now = res.year_now;
        });
      };
      getData();
      if (document.readyState === "complete") {
        document.getElementById("gaji").classList.toggle("bg-indigo-900");
        document.getElementById("gaji").classList.remove("hover:bg-gray-200");
        document.getElementById("text-gaji").classList.toggle("text-white");
      }
      meta.action = {
        setYear: (e) => {
          meta.year_now = e.target.value;
          refreshData(meta.year_now);
        },
      };
    }}
  />
  <>
    <span class="text-xl font-bold">Gaji</span>
    <nav class="font-normal text-gray-500 w-full mt-2">
      <ol class="list-reset flex text-xs space-x-3">
        <li>Riwayat Gaji</li>
      </ol>
    </nav>
    <div class="mt-4 w-full filter drop-shadow-sm bg-white p-3 rounded space-y-3">
      <div class={`flex self-stretch items-center justify-start`}>
        <div class="flex flex-1 justify-start space-x-2">
          <span class="text-sm font-semibold flex items-center justify-center">
            Semua Gaji
          </span>
          <div class="relative inline-block w-max text-gray-700">
            <select
              class="border focus:outline-none focus:border-indigo-900 border-gray-300 rounded text-sm px-1.5"
              id="gaji_tahun"
            >
              {meta.years.map((val, index) => (
                <option
                  defaultValue={val.tahun}
                  selected={val.tahun == meta.year_now}
                >
                  {val.tahun}
                </option>
              ))}
            </select>
          </div>
        </div>
        <div class="flex flex-1 items-center justify-end">
          <input
            type="text"
            placeholder="Cari Data"
            class="border focus:outline-none focus:border-indigo-900 border-gray-200 py-1.5 px-3 rounded text-xs"
          />
        </div>
      </div>
      <datatable
        pagination={true}
        column={[
          {
            name: "No",
            selector: (row, index) => ++index,
            sortable: true,
          },
          {
            name: "Bulan",
            selector: (row) => row.nama_bulan,
            sortable: true,
          },
          {
            name: "Jumlah Gaji",
            selector: (row) => "Rp " + row.nominal,
            sortable: true,
          },
          {
            name: "Action",
            button: true,
            cell: (row, index) => (
              <>
                <div class="space-x-2">
                  <button
                    class="bg-gray-200 hover:bg-gray-300 duration-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                    onClick={() => {
                      navigate("/user/gaji/detail/" + row.id_penggajian);
                    }}
                  >
                    <faicon iconName="show" class="" />
                  </button>
                </div>
              </>
            ),
          },
        ]}
        data={meta.gaji}
      />
    </div>
  </>
</>