<>
  <effect
    meta={{}}
    run={async () => {
      if (document.readyState === "complete") {
        document.getElementById("dashboard").classList.toggle("bg-indigo-900");
        document
          .getElementById("text-dashboard")
          .classList.toggle("text-white");
      }
    }}
  />
  <>
    <a class="text-xl font-bold mb-7">Dashboard</a>
    <div class="w-full">
      <bar_chart />
    </div>
    <div class="w-full">
      <line_chart />
    </div>
    <div class="w-full">
      <doughnut_chart />
    </div>
  </>
</>