<>
  <effect
    meta={{
      total_karyawan: 0,
      hadir: 0,
      tidak_hadir: 0,
      izin: 0,
      sakit: 0,
      cuti: 0,
      transaksi_terakhir: [],
      action: {},
    }}
    run={async () => {
      // Get data
      const getData = () => {
        api("/api/dashboard-admin").then((res) => {
          meta.total_karyawan = res.total_karyawan;
          meta.hadir = res.hadir;
          meta.tidak_hadirs = res.tidak_hadir;
          meta.izin = res.izin;
          meta.sakit = res.sakit;
          meta.cuti = res.cuti;
          meta.transaksi_terakhir = res.transaksi_terakhir;
          document.getElementById("total_karyawan").innerText =
            res.total_karyawan;
          document.getElementById("hadir").innerText = res.hadir;
          document.getElementById("sakit").innerText = res.sakit;
          document.getElementById("izin").innerText = res.izin;
          document.getElementById("cuti").innerText = res.cuti;
          document.getElementById("tidak_hadir").innerText = res.tidak_hadir;
        });
      };
      getData();
      if (document.readyState === "complete") {
        document.getElementById("dashboard").classList.toggle("bg-indigo-900");
        document
          .getElementById("dashboard")
          .classList.remove("hover:bg-gray-200");
        document
          .getElementById("text-dashboard")
          .classList.toggle("text-white");
      }
    }}
  />
  <>
    <a class="text-xl font-bold mb-7">Dashboard</a>

    <div class="flex flex-col items-center justify-start bg-white filter drop-shadow-sm rounded w-full p-8 space-y-8">
      <div class="flex flex-row w-full space-x-5 justify-center items-center">
        <div class="w-full flex flex-col space-y-2">
          <div class="text-lg font-bold">Absen Hari Ini</div>
          <div class="flex flex-row space-x-2 border-solid">
            <div class="w-1/2 flex flex-col border-r">
              <div class="text-xs text-green-600">Hadir</div>
              <div class="text-sm" id="hadir">
                90
              </div>
            </div>
            <div class="w-1/2 flex flex-col border-r">
              <div class="text-xs text-blue-600">Sakit</div>
              <div class="text-sm" id="sakit">
                90
              </div>
            </div>
            <div class="w-1/2 flex flex-col border-r">
              <div class="text-xs text-purple-600">Izin</div>
              <div class="text-sm" id="izin">
                90
              </div>
            </div>
            <div class="w-1/2 flex flex-col border-r">
              <div class="text-xs text-yellow-300">Cuti</div>
              <div class="text-sm" id="cuti">
                90
              </div>
            </div>
            <div class="w-full flex flex-col">
              <div class="text-xs text-red-600">Tidak Absen</div>
              <div class="text-sm" id="tidak_hadir">
                90
              </div>
            </div>
            <div class="w-full flex flex-col text-right">
              <div class="text-xs text-yellow-700">Total Karyawan</div>
              <div class="text-sm" id="total_karyawan">
                0
              </div>
            </div>
          </div>
        </div>
        <div class="w-0.5 bg-gray-300 h-1/2 m-auto"></div>
        <div class="w-full space-y-2">
          <div class="text-lg font-bold">Transfer Terakhir</div>
          <datatable
            pagination={false}
            column={[
              {
                name: "ID Transaksi",
                selector: (row) => row.id_penggajian,
                // sortable: true,
              },
              {
                name: "Transaksi",
                selector: (row) => row.status_penggajian.status_penggajian,
                // sortable: true,
              },
              {
                name: "Tanggal",
                selector: (row) =>
                  (("" + row.bulan).length > 0
                    ? "" + row.bulan
                    : "0" + row.bulan) +
                  "/" +
                  row.tahun,
                // sortable: true,
              },
              {
                name: "Jumlah",
                selector: (row) => "Rp " + row.nominal,
                // sortable: true,
              },
            ]}
            data={meta.transaksi_terakhir}
          />
        </div>
      </div>
      <div class="w-full">
        <button
          class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold p-3 rounded inline-flex items-center filter drop-shadow-md w-full flex items-center justify-center"
          onClick={() => {
            navigate("/admin/list-kehadiran/buat-presensi");
          }}
        >
          <faicon iconName="Plus" class="mr-3" />
          <span>Buat Absensi Hari Ini</span>
        </button>
      </div>
      <div class="w-11/12">{/*<line_chart />*/}</div>
    </div>
  </>
</>