<>
  <effect
    meta={{
      detail: {},
      action: {},
    }}
    run={async () => {
      const getData = () => {
        api("/api/r-edit-gaji", { id_detail: params.id }).then((res) => {
          meta.detail = res.detail;
        });
      };
      getData();
      if (document.readyState === "complete") {
        document.getElementById("gaji").classList.toggle("bg-indigo-900");
        document.getElementById("gaji").classList.remove("hover:bg-gray-200");
        document.getElementById("gaji").classList.toggle("active");
        document.getElementById("text-gaji").classList.toggle("text-white");
        document
          .getElementById("btn-informasi-gaji")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-informasi-gaji")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("gaji").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
      meta.action = {
        tambahGaji: () => {
          <div class="flex flex-col space-y-5">
            <div class="flex flex-col space-y-2 text-sm font-bold text-black">
              Keterangan
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded text-md"
              />
            </div>
            <div class="flex flex-col space-y-2 text-sm font-bold text-black">
              Nominal
              <input
                type="text"
                class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded text-md"
              />
            </div>
          </div>;
          var div1 = document.createElement("div");
          var div2 = document.createElement("div");
          var div3 = document.createElement("div");
          var inputKet = document.createElement("input");
          var inputNom = document.createElement("input");
          div1.classList.add("flex", "flex-col", "space-y-5");
          div2.classList.add(
            "flex",
            "flex-col",
            "space-y-2",
            "text-sm",
            "font-bold",
            "text-black"
          );
          div3.classList.add(
            "flex",
            "flex-col",
            "space-y-2",
            "text-sm",
            "font-bold",
            "text-black"
          );
          inputKet.classList.add(
            "border",
            "focus:outline-none",
            "focus:border-indigo-900",
            "border-gray-300",
            "py-1.5",
            "px-3",
            "rounded",
            "text-md"
          );
          inputNom.classList.add(
            "border",
            "focus:outline-none",
            "focus:border-indigo-900",
            "border-gray-300",
            "py-1.5",
            "px-3",
            "rounded",
            "text-md"
          );
          div2.append("Keterangan");
          div2.appendChild(inputKet);
          div3.append("Nominal");
          div3.appendChild(inputNom);
          div1.appendChild(div2);
          div1.appendChild(div3);
          document.getElementById("tambah-gaji").appendChild(div1);
        },
        setKeterangan: (e) => {
          meta.detail.keterangan = e.target.value;
        },
        setNominal: (e) => {
          meta.detail.nominal = e.target.value;
        },
        submitData: () => {
          if (meta.detail.keterangan != "" && meta.detail.nominal != "") {
            api("/api/u-gaji", { detail: meta.detail }).then((res) => {
              if (res.status == "success") {
                history.back();
              } else {
                console.log(res.status);
              }
            });
          }
        },
      };
    }}
  />
  <>
    <div class="flex items-center space-x-4">
      <div>
        <button
          type="submit"
          class="bg-white hover:border-gray-200 border-2 border-transparent duration-300 text-black text-sm font-bold rounded-full flex items-center filter drop-shadow-sm justify-center w-8 h-8"
          onClick={() => {
            history.back();
          }}
        >
          <span>
            <faicon iconName="arrowLeft" />
          </span>
        </button>
      </div>
      <div>
        <span class="text-xl font-bold">Edit Potongan Gaji</span>
        <nav class="font-normal text-gray-500 w-full mt-2">
          <ol class="list-reset flex text-xs space-x-3">
            <li>Gaji</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>Informasi Gaji</li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>
              <li>Detail Gaji</li>
            </li>
            <li>
              <faicon iconName="arrowRight" />
            </li>
            <li>
              <li>Edit Potongan</li>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="flex flex-col items-start justify-start bg-white filter drop-shadow-sm rounded w-full p-8 mt-7">
      <div class="w-1/2 space-y-5">
        <div class="flex flex-col space-y-5">
          <div class="flex flex-col space-y-2 text-sm font-bold text-black">
            Keterangan
            <input
              type="text"
              defaultValue={meta.detail.keterangan}
              onChange={(e) => {
                meta.action.setKeterangan(e);
              }}
              class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded text-md"
            />
          </div>
          <div class="flex flex-col space-y-2 text-sm font-bold text-black">
            Nominal
            <input
              type="number"
              defaultValue={meta.detail.nominal}
              onChange={(e) => {
                meta.action.setNominal(e);
              }}
              class="border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded text-md"
            />
          </div>
        </div>
        <div id="tambah-gaji" class="space-y-5"></div>
        {/*<button*/}
        {/*class="bg-gray-200 hover:bg-gray-300 text-gray-900 text-xs font-medium py-1 px-2 rounded inline-flex items-center"*/}
        {/*onClick={() => {*/}
        {/*meta.action.tambahGaji();*/}
        {/*}}*/}
        {/*>*/}
        {/*<faicon iconName="Plus" class="mr-2" />*/}
        {/*<span>Tambah Tambahan Gaji</span>*/}
        {/*</button>*/}
        <div class="flex items-center justify-center space-x-2">
          <button
            type="button"
            class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold  py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
            onClick={() => {
              meta.action.submitData();
            }}
          >
            <span>Simpan Perubahan</span>
          </button>
          <button
            type="button"
            class="bg-black text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
            onClick={() => {
              history.back();
            }}
          >
            <span>Batal</span>
          </button>
        </div>
      </div>
    </div>
  </>
</>