<>
  <effect
    meta={{
      departemen: "",
      action: {},
    }}
    run={async () => {
      if (document.readyState === "complete") {
        document.getElementById("karyawan").classList.toggle("bg-indigo-900");
        document.getElementById("karyawan").classList.toggle("active");
        document.getElementById("text-karyawan").classList.toggle("text-white");
        document
          .getElementById("btn-divisi")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-divisi")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("karyawan").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }

      // Get data
      const getData = () => {
        const data = api("/api/r-departemen").then((res) => {
          meta.departemen = res.departemen;
        });
      };
      getData();

      meta.action = {};
    }}
  />
  <>
    <a class="text-xl font-bold">Divisi</a>
    <nav class="font-sans w-full mb-7 mt-2">
      <ol class="list-reset flex text-grey-dark text-xs space-x-3">
        <li>
          <a href="#">Karyawan</a>
        </li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <li>Divisi</li>
        </li>
      </ol>
    </nav>
    <div class={`flex self-stretch items-center justify-start`}>
      <div class="flex flex-1 justify-start">
        <button
          class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-md"
          onClick={() => {
            navigate("/admin/divisi/tambah");
          }}
        >
          <faicon iconName="Plus" class="mr-3" />
          <span>Tambah Divisi</span>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-end">
        <input
          type="text"
          placeholder="Cari Data"
          class="border focus:outline-none focus:border-indigo-900 border-gray-200 py-1.5 px-3 rounded text-xs"
        />
      </div>
    </div>
    <div class="mt-2 w-full filter drop-shadow-sm bg-white p-3 rounded">
      <datatable
        // title={"Divisi"}
        column={[
          {
            name: "No",
            selector: (row, index) => ++index,
            sortable: true,
          },
          {
            name: "Nama Divisi",
            selector: "nama_departemen",
            sortable: true,
          },
          {
            name: "Action",
            button: true,
            cell: (row, index) => (
              <>
                <button
                  class="bg-gray-200 hover:bg-gray-300 text-black text-xs font-bold w-7 h-6 rounded inline-flex items-center justify-center"
                  onClick={() => {
                    navigate(
                      "/admin/divisi/detail/" +
                        meta.departemen[index].id_departemen
                    );
                  }}
                >
                  <faicon iconName="show" class="" />
                </button>
              </>
            ),
          },
        ]}
        data={meta.departemen}
      />
    </div>
  </>
</>