<>
  <effect
    meta={{
      email: "",
      password: "",
      action: {},
    }}
    run={async () => {
      meta.action = {
        changeEmail: (e) => {
          runInAction(() => {
            meta.email = e.target.value;
          });
        },
        changePassword: (e) => {
          runInAction(() => {
            meta.password = e.target.value;
          });
        },
        login: () => {
          runInAction(() => {
            api("/api/login", {
              email: meta.email,
              password: meta.password,
            }).then((res) => {
              if (res.status == "success") {
                window.user = res.userdata;
                if (window.user.role == 1) {
                  navigate("/admin/dashboard");
                } else {
                  navigate("/user/dashboard");
                }
              } else {
                document.getElementById("alert").innerHTML =
                  '<div class="flex self-stretch items-center justify-center text-sm text-center text-white bg-red-500 h-12 items-center p-4 rounded w-full"><div class="flex flex-1 justify-center items-center">Email atau password anda salah.</div></div>';
              }
            });
          });
        },
        removeAlert: () => {
          if (document.getElementById("alert")) {
            document.getElementById("alert").innerHTML = "";
          }
        },
      };
    }}
  />
  <>
    <div class="flex flex-col w-3/4 h-3/4 shadow-md sm:flex-row">
      <div class="w-full bg-indigo-900 flex flex-col justify-center items-center space-y-24 text-center text-white">
        <div class="flex flex-col w-3/4 items-center justify-center">
          <div class="flex space-x-3 items-start justify-start">
            <img
              src="/fimgs/984_9190.x3.png"
              style="width: 30px; min-width: 30px; max-width: 30px; height: 28.40px; min-height: 28.40px; max-height: 28.40px;background-image: url('/fimgs/bg-bad8f1bf7eadb7d05eee1442ad792d80fd1e9b8f');background-size:100% 100%;background-repeat:no-repeat;"
            />
            <img
              class="text-lg font-medium text-white mt-1"
              style="width: 72px; min-width: 72px; max-width: 72px; height: 27px; min-height: 27px; max-height: 27px;"
              src="/fimgs/984_9191.x1.svg"
            />
          </div>
        </div>
        <div class="flex flex-col space-y-3 w-3/4">
          <p class="italic">
            "You've got to make your team have value, inovation, and vision."
          </p>
          <p class="font-bold">- Jack Ma -</p>
        </div>
      </div>
      <form
        class="w-full bg-white flex flex-col justify-center items-center space-y-5"
        method="POST"
        onSubmit={(e) => {
          meta.action.login();
          e.preventDefault();
        }}
      >
        <div class="flex flex-col space-y-2 rounded-lg w-1/2" id="alert"></div>
        <div class="flex flex-col space-y-2 rounded-lg w-1/2">
          <div class="text-sm font-bold text-black">Email</div>
          <input
            type="email"
            class={`border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md`}
            onChange={(e) => {
              meta.action.changeEmail(e);
            }}
            onFocus={() => {
              meta.action.removeAlert();
            }}
            required
          />
        </div>
        <div class="flex flex-col space-y-2 rounded-lg w-1/2">
          <div class="text-sm font-bold text-black">Password</div>
          <input
            type="password"
            class={`border focus:outline-none focus:border-indigo-900 border-gray-300 py-1.5 px-3 rounded w-full text-md`}
            onChange={(e) => {
              meta.action.changePassword(e);
            }}
            onFocus={() => {
              meta.action.removeAlert();
            }}
            required
          />
        </div>
        <div class="flex items-center justify-center w-1/2">
          <button
            type="submit"
            class="bg-indigo-900 hover:bg-indigo-800 text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-sm justify-center w-full"
          >
            <span>Login</span>
          </button>
        </div>
      </form>
    </div>
  </>
</>