<>
  <effect meta={{}} run={async () => {}} />
  <>
    <div
      class={`flex flex-1 self-stretch items-center justify-center p-24 bg-indigo-500`}
    >
      <div
        class={`flex flex-1 self-stretch items-center justify-center shadow rounded-2xl flex-col lg:flex-row`}
      >
        <div
          class={`flex flex-1 self-stretch flex-col space-y-24 items-center justify-center p-8 rounded-tl-2xl rounded-tr-2xl lg:rounded-tr-none lg:rounded-br-none lg:rounded-tl-2xl lg:rounded-bl-2xl`}
          style={`background-image: url('/fimgs/bg-638530deb7fed74f740e6e857a0ca12f1a553845');background-size:100% 100%;background-repeat:no-repeat;`}
        >
          <div />
          <img
            src="/fimgs/237_346.x3.png"
            style="width: 131.52px; min-width: 131.52px; max-width: 131.52px; height: 50px; min-height: 50px; max-height: 50px;background-image: url('/fimgs/bg-9b3bfae3f6d9b076a99172604d0c5a5622ad67df');background-size:100% 100%;background-repeat:no-repeat;"
          />
          <div class="flex items-start justify-start py-0.5 rounded-2xl">
            <div class="text-2xl font-semibold text-center text-gray-50">
              "You've got to make your team have value, inovation, and vision."
              <br />
              -Jack Ma
            </div>
          </div>
          <div />
        </div>
        <div
          class={`flex flex-1 self-stretch flex-col space-y-8 items-center justify-center px-24 py-2.5 bg-white rounded-bl-2xl rounded-br-2xl pt-10 pb-10 lg:pt-0 lg:pb-0 lg:rounded-tr-2xl lg:rounded-br-2xl lg:rounded-tl-none lg:rounded-bl-none`}
        >
          <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
            <div class="text-base font-medium text-center text-indigo-500">
              Username
            </div>
            <input
              type="text"
              class={`border-2 border-indigo-600 py-2 px-3 rounded-2xl`}
            />
          </div>
          <div class="flex flex-col space-y-1 items-start justify-start px-6 rounded-lg">
            <div class="text-base font-medium text-center text-indigo-500">
              Password
            </div>
            <input
              type="password"
              class={`border-2 border-indigo-600 py-2 px-3 rounded-2xl`}
            />
          </div>
          <div class="flex flex-col items-center justify-center rounded-lg">
            <button
              class={`flex self-stretch flex-col items-center justify-center px-14 py-1 bg-indigo-500 hover:bg-indigo-700 rounded-xl`}
            >
              <div class="flex self-stretch items-center justify-center">
                <div class="text-lg font-semibold text-center text-white">
                  Login
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </>
</>