<>
  <effect
    meta={{
      perizinan: [],
    }}
    run={async () => {
      const getData = () => {
        api("/api/user/r-perizinan", { id_pengguna: user.id_pengguna }).then(
          (res) => {
            meta.perizinan = res.perizinan;
          }
        );
      };
      getData();
      if (document.readyState === "complete") {
        document.getElementById("presensi").classList.toggle("bg-indigo-900");
        document
          .getElementById("presensi")
          .classList.remove("hover:bg-gray-200");
        document.getElementById("presensi").classList.toggle("active");
        document.getElementById("text-presensi").classList.toggle("text-white");
        document
          .getElementById("btn-list-perizinan")
          .classList.toggle("border-indigo-900");
        document
          .getElementById("text-list-perizinan")
          .classList.toggle("text-indigo-900");
        var content = document.getElementById("presensi").nextElementSibling;
        content.style.maxHeight = content.scrollHeight + "px";
      }
    }}
  />
  <>
    <span class="text-xl font-bold">List Perizinan</span>
    <nav class="font-normal text-gray-500 w-full mt-2">
      <ol class="list-reset flex text-xs space-x-3">
        <li>Presensi</li>
        <li>
          <faicon iconName="arrowRight" />
        </li>
        <li>
          <li>List Perizinan</li>
        </li>
      </ol>
    </nav>

    <div class={`flex self-stretch items-center justify-start mt-7`}>
      <div class="flex flex-1 justify-start space-x-2">
        <button
          class="bg-indigo-900 hover:bg-indigo-800 duration-300 text-white text-xs font-bold py-2 px-4 rounded inline-flex items-center filter drop-shadow-md"
          onClick={() => {
            navigate("/user/list-perizinan/pengajuan");
          }}
        >
          <faicon iconName="Plus" class="mr-3" />
          <span>Ajukan Perizinan</span>
        </button>
      </div>
    </div>
    <div class="mt-4 w-full filter drop-shadow-sm bg-white p-3 rounded space-y-3">
      <div class={`flex self-stretch items-center justify-start`}>
        <div class="flex flex-1 justify-start space-x-2">
          <span class="text-sm font-semibold flex items-center justify-center">
            Perizinan Yang Diajukan
          </span>
          <span class="text-sm font-semibold bg-gray-200 px-1.5 rounded-sm flex items-center justify-center">
            {meta.perizinan.length}
          </span>
        </div>
        <div class="flex flex-1 items-center justify-end">
          <input
            type="text"
            placeholder="Cari Data"
            class="border focus:outline-none focus:border-indigo-900 border-gray-200 py-1.5 px-3 rounded text-xs"
          />
        </div>
      </div>
      <datatable
        pagination={true}
        column={[
          {
            name: "No",
            selector: (row, index) => ++index,
            sortable: true,
          },
          {
            name: "Tanggal Mulai",
            selector: (row) => row.tgl_mulai.slice(0, 10),
            sortable: true,
          },
          {
            name: "Tanggal Selesai",
            selector: (row) => row.tgl_akhir.slice(0, 10),
            sortable: true,
          },
          {
            name: "Jenis Izin",
            selector: (row) => row.jenis_perizinan,
            sortable: true,
          },
          {
            name: "Keterangan",
            selector: (row) => row.keterangan,
            sortable: true,
          },
          {
            name: "Status",
            selector: (row) => row.status_pengajuan.pengajuan,
            sortable: true,
          },
        ]}
        data={meta.perizinan}
      />
    </div>
  </>
</>