@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.collapsible {
  width: 100%;
}

/* .collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
} */

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown-profile:hover .list-dropdown-profile {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400; 
  right: 0;
  border-color: #4fad73;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #4fad73;
}

.modal {
  display: none;
  position: fixed;
  /* z-index: 10; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: #00000065;
}

.modal-content {
  margin: 5% auto 15% auto;
}

.btn {
        white-space: nowrap;
    }

#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  /* width: 220px;
  min-width: 220px; */
}

#divInner{
  left: 0;
  position: sticky;
}

#divOuter{
  width: 190px; 
  overflow: hidden;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

